<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.nome.saas.sdc.bigData.repository.dao.DwsDimShopStatusMapper">
    <resultMap type="cn.nome.saas.sdc.bigData.repository.entity.DwsDimShopStatusDO" id="BaseResultMap">
        <result property="shopCode" column="shopCode"/>
        <result property="shopName" column="shopName"/>
        <result property="shopState" column="shopState"/>
        <result property="openShopDate" column="OpenShopDate"/>
    </resultMap>

    <select id="queryByShopCode" resultMap="BaseResultMap">
        select  shopCode,shopName,shopState,OpenShopDate
        from dws.dws_dim_shop
        where 1=1
        <if test="list !=null and  list.size()>0">
            and shopCode IN
            (
            <foreach collection="list" index="index" item="record" separator=",">
                #{record}
            </foreach>
            )
        </if>
    </select>
</mapper>