<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.nome.saas.sdc.bigData.repository.dao.DwsViewWarehouseInfoMapper">
    <resultMap type="cn.nome.saas.sdc.bigData.repository.entity.DwsViewWarehouseInfoDO" id="BaseResultMap">
        <result property="stockCode" column="StockCode"/>
        <result property="stockName" column="StockName"/>
        <result property="address" column="Address"/>
    </resultMap>

    <select id="list" resultMap="BaseResultMap">
        select StockCode,StockName,Address
        from dws.dws_view_warehourse_info where  StoreTypeName = '总仓'
    </select>
</mapper>