<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.nome.saas.search.repository.dao.SearchLogMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="cn.nome.saas.search.repository.entity.SearchLogDO" id="BaseResultMap">
        <id property="id" column="id"/>
        <result property="corpId" column="corp_id"/>
        <result property="appId" column="app_id"/>
        <result property="userId" column="user_id"/>
        <result property="inputWord" column="input_word"/>
        <result property="splitWord" column="split_word"/>
        <result property="source" column="source"/>
        <result property="ip" column="ip"/>
        <result property="totalCount" column="total_count"/>
        <result property="curPage" column="cur_page"/>
        <result property="pageSize" column="page_size"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>
    <sql id="Base_Column_List">
		id, corp_id, app_id, user_id, input_word, split_word, source, ip, total_count, cur_page, page_size, created_at, updated_at
	</sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from search_log
        where id = #{id}
    </select>

    <delete id="deleteByPrimaryKey">
	    delete from search_log
		where id = #{id}
	</delete>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
            parameterType="cn.nome.saas.search.repository.entity.SearchLogDO">
        insert into search_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="corpId != null">
                corp_id,
            </if>
            <if test="appId != null">
                app_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="inputWord != null">
                input_word,
            </if>
            <if test="splitWord != null">
                split_word,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="totalCount != null">
                total_count,
            </if>
            <if test="curPage != null">
                cur_page,
            </if>
            <if test="pageSize != null">
                page_size,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="updatedAt != null">
                updated_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="corpId != null">
                #{corpId},
            </if>
            <if test="appId != null">
                #{appId},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="inputWord != null">
                #{inputWord},
            </if>
            <if test="splitWord != null">
                #{splitWord},
            </if>
            <if test="source != null">
                #{source},
            </if>
            <if test="ip != null">
                #{ip},
            </if>
            <if test="totalCount != null">
                #{totalCount},
            </if>
            <if test="curPage != null">
                #{curPage},
            </if>
            <if test="pageSize != null">
                #{pageSize},
            </if>
            <if test="createdAt != null">
                #{createdAt},
            </if>
            <if test="updatedAt != null">
                #{updatedAt},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="cn.nome.saas.search.repository.entity.SearchLogDO">
        update search_log
        <set>
            <if test="corpId != null">
                corp_id = #{corpId},
            </if>
            <if test="appId != null">
                app_id = #{appId},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="inputWord != null">
                input_word = #{inputWord},
            </if>
            <if test="splitWord != null">
                split_word = #{splitWord},
            </if>
            <if test="source != null">
                source = #{source},
            </if>
            <if test="ip != null">
                ip = #{ip},
            </if>
            <if test="totalCount != null">
                total_count = #{totalCount},
            </if>
            <if test="curPage != null">
                cur_page = #{curPage},
            </if>
            <if test="pageSize != null">
                page_size = #{pageSize},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="getLogBeforeDays" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from search_log
        where
        <![CDATA[date(created_at) >= ]]> DATE_SUB(CURDATE(), INTERVAL #{beforeDays} DAY)
    </select>

</mapper>