<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.nome.saas.allocation.repository.dao.vertical.DwsGoodsMaterialSizeDOMapper" >

  <resultMap id="BaseResultMap" type="cn.nome.saas.allocation.repository.entity.vertical.DwsDimGoodsMaterialSizeDO" >
      <result column="MatCode" property="matCode"  />
      <result column="SizeID" property="sizeID"  />
      <result column="BarCode" property="barCode"  />
      <result column="EtlDate" property="etlDate"  />
      <result column="ExtrSource" property="extrSource"  />
      <result column="SizeCode" property="sizeCode"  />
      <result column="SizeName" property="sizeName" />
  </resultMap>

  <select id="selectGoodsListByMatCode" resultMap="BaseResultMap" >
     SELECT * from dwd.dwd_goods_material_size dms
    left join dwd.dwd_base_mat_size dbms
    on dms.sizeid = dbms.sizeid
    where dms.matcode in
      <foreach collection="matCodes" item="matCode" index="index" open="(" close=")" separator=",">
          #{matCode}
      </foreach>
      and dbms.EtlDate = CURRENT_DATE - 1;
  </select>


</mapper>