<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.nome.saas.allocation.repository.dao.allocation.AllocationClothingResultMapper" >

    <resultMap id="ResultMap" type="cn.nome.saas.allocation.repository.entity.allocation.AllocationClothingResultDO" >
        <result column="task_id" property="taskId"  />
        <result column="shop_id" property="shopId"  />
        <result column="shop_name" property="shopName"  />
        <result column="category_code" property="categoryCode"  />
        <result column="category_name" property="categoryName"  />
        <result column="low_skc" property="lowSkc"  />
        <result column="standard_skc" property="standardSkc"  />
        <result column="high_skc" property="highSkc"  />
        <result column="before_full_rate" property="beforeFullRate"  />
        <result column="after_full_rate" property="afterFullRate"  />
        <result column="before_skc" property="beforeSkc"  />
        <result column="after_skc" property="afterSkc"  />
        <result column="before_invalid_style" property="beforeInvalidStyle"  />
        <result column="before_invalid_num" property="beforeInvalidNum"  />
        <result column="after_invalid_style" property="afterInvalidStyle"  />
        <result column="after_invalid_num" property="afterInvalidNum"  />
    </resultMap>

    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List" >
        insert into allocation_clothing_result
        (
          task_id,shop_id,shop_name,category_code,category_name,low_skc,standard_skc,high_skc,before_full_rate,after_full_rate
          ,before_skc,after_skc,before_invalid_style,before_invalid_num,after_invalid_style,after_invalid_num,created_at
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.taskId},#{item.shopId},#{item.shopName},#{item.categoryCode},#{item.categoryName},#{item.lowSkc},#{item.standardSkc},#{item.highSkc},
            #{item.beforeFullRate},#{item.afterFullRate},#{item.beforeSkc},#{item.afterSkc},#{item.beforeInvalidStyle},#{item.beforeInvalidNum}
            ,#{item.afterInvalidStyle},#{item.afterInvalidNum},now()
            )
        </foreach>

    </insert>

    <delete id="deleteByParam" parameterType="java.lang.Integer">
        DELETE FROM allocation_clothing_result
        where 1 = 1
        <if test="taskId != null">
            and task_id = #{taskId}
        </if>
    </delete>

    <select id="selectByTaskId" parameterType="java.lang.Integer" resultMap="ResultMap">
        select task_id,shop_id,shop_name,category_code,category_name,low_skc,standard_skc,high_skc,before_full_rate,after_full_rate
        ,before_skc,after_skc,before_invalid_style,before_invalid_num,after_invalid_style,after_invalid_num
        from allocation_clothing_result
        where task_id = ${taskId}
        order by created_at desc
    </select>

</mapper>