<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.nome.saas.allocation.repository.dao.allocation.DownTemplateDOMapper" >
    <resultMap id="downTemplateDO" type="cn.nome.saas.allocation.repository.entity.allocation.DownTemplateDO">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="fileDir" column="file_dir"/>
        <result property="isClear" column="is_clear"/>
        <result property="businessCode" column="business_code"/>
        <result property="businessName" column="business_name"/>
        <result property="serviceCode" column="service_code"/>
        <result property="exeSql" column="exe_sql"/>
        <result property="exportCode" column="export_code"/>
    </resultMap>
    <select id="queryByCode" resultMap="downTemplateDO">
      select id,code,name,file_dir,is_clear,service_code,exe_sql,export_code from down_template  where code = #{code} and is_enable = 1
    </select>

    <select id="queryByName" resultMap="downTemplateDO">
      select id,code,name,file_dir,is_clear,service_code,exe_sql,export_code from down_template  where name = #{name} and is_enable = 1
    </select>

    <select id="queryAllTplList" resultMap="downTemplateDO">
         select code,name,file_dir from down_template where  is_enable = 1
         <if test="businessCode != null and businessCode != ''">
             and business_code = #{businessCode}
         </if>
    </select>

    <select id="queryAllBusList" resultMap="downTemplateDO">
         select distinct business_code,business_name from down_template where  is_enable = 1 and business_code is not null and business_code != ''
    </select>

    <select id="queryDownLoadTplList" resultMap="downTemplateDO">
      select id,code,name,file_dir,is_clear,service_code,exe_sql,export_code from down_template  where code = #{code} and is_enable = 1
    </select>

</mapper>