<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.nome.saas.allocation.repository.dao.allocation.DwsDimShopDOMapper" >

  <resultMap id="BaseResultMap" type="cn.nome.saas.allocation.repository.entity.allocation.DwsShopDO" >
    <result column="Province" property="province" jdbcType="VARCHAR" />
    <result column="City" property="city" jdbcType="VARCHAR" />
    <result column="Town" property="town" jdbcType="VARCHAR" />
    <result column="ShopName" property="shopname" jdbcType="VARCHAR" />
    <result column="ShopOpenDate" property="shopopendate" jdbcType="DATE" />
    <result column="ShopArea" property="shoparea" jdbcType="NUMERIC" />
    <result column="ShopCode" property="shopcode" jdbcType="VARCHAR" />
    <result column="StokArea" property="stokarea" jdbcType="NUMERIC" />
    <result column="ShopSingleManger" property="shopsinglemanger" jdbcType="VARCHAR" />
    <result column="ShopManger" property="shopmanger" jdbcType="VARCHAR" />
    <result column="ShopOpenStatus" property="shopopenstatus" jdbcType="VARCHAR" />
  </resultMap>

  <!--<resultMap id="DimShopResultMap" type="cn.nome.saas.allocation.repository.entity.allocation.DwsDimShopDO" >-->
    <!--<result column="ShopCode" property="shopCode" jdbcType="VARCHAR" />-->
    <!--<result column="ShopID" property="shopId" jdbcType="VARCHAR" />-->
    <!--<result column="ShopName" property="shopName" jdbcType="VARCHAR" />-->
    <!--<result column="RegioneNO" property="regioneNo" jdbcType="VARCHAR" />-->
    <!--<result column="RegioneBusName" property="regioneBusName" jdbcType="VARCHAR" />-->
    <!--<result column="SubRegioneBusName" property="subRegioneBusName" jdbcType="VARCHAR" />-->
    <!--<result column="ProvinceID" property="provinceId" jdbcType="VARCHAR" />-->
    <!--<result column="ProvinceCode" property="provinceCode" jdbcType="VARCHAR" />-->
    <!--<result column="ProvinceName" property="provinceName" jdbcType="VARCHAR" />-->
    <!--<result column="CityID" property="cityId" jdbcType="VARCHAR" />-->
    <!--<result column="CityCode" property="cityCode" jdbcType="VARCHAR" />-->
    <!--<result column="CityName" property="cityName" jdbcType="VARCHAR" />-->
    <!--<result column="ShopAge" property="ShopAge" jdbcType="VARCHAR" />-->
  <!--</resultMap>-->
  <resultMap id="DimShopResultMap" type="cn.nome.saas.allocation.repository.entity.allocation.DwsDimShopDO" >
    <result column="CompanyNo" property="companyNo" jdbcType="VARCHAR" />
    <result column="ShopCode" property="shopCode" jdbcType="VARCHAR" />
    <result column="ShopID" property="shopId" jdbcType="VARCHAR" />
    <result column="ShopName" property="shopName" jdbcType="VARCHAR" />
    <result column="RegioneNO" property="regionNo" jdbcType="VARCHAR" />
    <result column="RegioneName" property="regionName" jdbcType="VARCHAR" />
    <result column="SubRegoneNO" property="subRegionNo" jdbcType="VARCHAR" />
    <result column="SubRegoneName" property="subRegionName" jdbcType="VARCHAR" />
    <result column="ProvinceCode" property="provinceCode" jdbcType="VARCHAR" />
    <result column="ProvinceName" property="provinceName" jdbcType="VARCHAR" />
    <result column="CityCode" property="cityCode" jdbcType="VARCHAR" />
    <result column="CityName" property="cityName" jdbcType="VARCHAR" />
    <result column="OpenShopDate" property="openShopDate" jdbcType="DATE" />
    <result column="CloseShopDate" property="closeShopDate" jdbcType="DATE" />
    <result column="ShopSingleManger" property="shopSingleManger" jdbcType="VARCHAR" />
    <result column="ShopManger" property="shopManger" jdbcType="VARCHAR" />
    <result column="Address" property="address" jdbcType="VARCHAR" />
    <result column="ShopLevelName" property="shopLevelName" jdbcType="VARCHAR" />
    <result column="ShopProperty" property="shopProperty" jdbcType="VARCHAR" />
    <result column="ShopState" property="shopState" jdbcType="VARCHAR" />
    <result column="OperateMode" property="operateMode" jdbcType="VARCHAR" />
    <result column="DiscountType" property="discountType" jdbcType="VARCHAR" />
    <result column="ShopArea" property="shopArea" jdbcType="VARCHAR" />
    <result column="StockID" property="stockId" jdbcType="VARCHAR" />
    <result column="StockCode" property="stockCode" jdbcType="VARCHAR" />
    <result column="StockName" property="stockName" jdbcType="VARCHAR" />
    <result column="LoadTime" property="loadTime" jdbcType="DATE" />
    <result column="CityID" property="cityId" jdbcType="VARCHAR" />
    <result column="Annualoutput" property="annualOutput" jdbcType="NUMERIC" />
    <result column="ShopAge" property="shopAge" jdbcType="VARCHAR" />
    <result column="CityLevel" property="cityLevel" jdbcType="VARCHAR" />
    <result column="RegioneBusName" property="regionBusName" jdbcType="VARCHAR" />
    <result column="SubRegioneBusName" property="subRegionBusName" jdbcType="VARCHAR" />
    <result column="RegioneBusManager" property="regionBusManager" jdbcType="VARCHAR" />
    <result column="SubRegioneBusManager" property="subRegionBusManager" jdbcType="VARCHAR" />
    <result column="SubRegioneBusManagerNo" property="subRegionBusManagerNo" jdbcType="VARCHAR" />
    <result column="RegioneBusManagerNo" property="regionBusManagerNo" jdbcType="VARCHAR" />
    <result column="ProvinceID" property="provinceId" jdbcType="VARCHAR" />
    <result column="qhprovincename" property="qhProvinceName" jdbcType="VARCHAR" />
    <result column="qhregionename" property="qhRegioneName" jdbcType="VARCHAR" />
    <result column="NormRegione" property="normRegion" jdbcType="VARCHAR" />
    <result column="ExpectCloseDate" property="expectCloseDate" jdbcType="DATE" />
  </resultMap>

  <select id="selectAllShopList" resultMap="DimShopResultMap" >
     select
             CompanyNo, ShopCode, ShopID, ShopName, RegioneNO, RegioneName, SubRegoneNO, SubRegoneName,
             TRIM(ProvinceCode) as ProvinceCode, ProvinceName, TRIM(CityCode) as CityCode, CityName, OpenShopDate, CloseShopDate, ShopSingleManger,
             ShopManger, Address, ShopLevelName, ShopProperty, ShopState, OperateMode, DiscountType, ShopArea,
             StockID, StockCode, StockName, LoadTime, CityID, Annualoutput, ShopAge, CityLevel, RegioneBusName,
             SubRegioneBusName, RegioneBusManager, SubRegioneBusManager, SubRegioneBusManagerNo, RegioneBusManagerNo,
             ProvinceID, qhprovincename, qhregionename, NormRegione, ExpectCloseDate
        from dws_dim_shop
        where RegioneBusName is not null
        and ShopState = '已开业'
        order by ProvinceID ASC
  </select>

  <insert id="insert" parameterType="cn.nome.saas.allocation.repository.entity.vertical.DwsShopDO" >
    insert into dws_shop (Province, City, Town, 
      ShopName, ShopOpenDate, ShopArea, 
      ShopCode, StokArea, ShopSingleManger, 
      ShopManger, ShopOpenStatus)
    values (#{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{town,jdbcType=VARCHAR}, 
      #{shopname,jdbcType=VARCHAR}, #{shopopendate,jdbcType=DATE}, #{shoparea,jdbcType=NUMERIC}, 
      #{shopcode,jdbcType=VARCHAR}, #{stokarea,jdbcType=NUMERIC}, #{shopsinglemanger,jdbcType=VARCHAR}, 
      #{shopmanger,jdbcType=VARCHAR}, #{shopopenstatus,jdbcType=VARCHAR})
  </insert>

  <insert id="insertBatchDataCenterData">
    INSERT INTO dws_dim_shop(CompanyNo, ShopCode, ShopID, ShopName, RegioneNO, RegioneName, SubRegoneNO, SubRegoneName,
    ProvinceCode, ProvinceName, CityCode, CityName, OpenShopDate, CloseShopDate, ShopSingleManger,
    ShopManger, Address, ShopLevelName, ShopProperty, ShopState, OperateMode, DiscountType, ShopArea,
    StockID, StockCode, StockName, LoadTime, CityID, Annualoutput, ShopAge, CityLevel, RegioneBusName,
    SubRegioneBusName, RegioneBusManager, SubRegioneBusManager, SubRegioneBusManagerNo, RegioneBusManagerNo,
    ProvinceID, qhprovincename, qhregionename, NormRegione, ExpectCloseDate)
    <foreach collection="list" item="item" open="VALUES" separator=",">
      (#{item.companyNo,jdbcType=VARCHAR}, #{item.shopCode,jdbcType=VARCHAR}, #{item.shopId,jdbcType=VARCHAR},
      #{item.shopName,jdbcType=VARCHAR}, #{item.regionNo,jdbcType=VARCHAR}, #{item.regionName,jdbcType=VARCHAR},
      #{item.subRegionNo,jdbcType=VARCHAR}, #{item.subRegionName,jdbcType=VARCHAR}, #{item.provinceCode,jdbcType=VARCHAR},
      #{item.provinceName,jdbcType=VARCHAR}, #{item.cityCode,jdbcType=VARCHAR}, #{item.cityName,jdbcType=VARCHAR},
      #{item.openShopDate,jdbcType=DATE}, #{item.closeShopDate,jdbcType=DATE}, #{item.shopSingleManger,jdbcType=VARCHAR},
      #{item.shopManger,jdbcType=VARCHAR}, #{item.address,jdbcType=VARCHAR}, #{item.shopLevelName,jdbcType=VARCHAR},
      #{item.shopProperty,jdbcType=VARCHAR}, #{item.shopState,jdbcType=VARCHAR}, #{item.operateMode,jdbcType=VARCHAR},
      #{item.discountType,jdbcType=VARCHAR}, #{item.shopArea,jdbcType=VARCHAR}, #{item.stockId,jdbcType=VARCHAR},
      #{item.stockCode,jdbcType=VARCHAR}, #{item.stockName,jdbcType=VARCHAR}, #{item.loadTime,jdbcType=DATE},
      #{item.cityId,jdbcType=VARCHAR}, #{item.annualOutput,jdbcType=NUMERIC}, #{item.shopAge,jdbcType=VARCHAR},
      #{item.cityLevel,jdbcType=VARCHAR}, #{item.regionBusName,jdbcType=VARCHAR}, #{item.subRegionBusName,jdbcType=VARCHAR},
      #{item.regionBusManager,jdbcType=VARCHAR}, #{item.subRegionBusManager,jdbcType=VARCHAR}, #{item.subRegionBusManagerNo,jdbcType=VARCHAR},
      #{item.regionBusManagerNo,jdbcType=VARCHAR}, #{item.provinceId,jdbcType=VARCHAR}, #{item.qhProvinceName,jdbcType=VARCHAR},
      #{item.qhRegioneName,jdbcType=VARCHAR}, #{item.normRegion,jdbcType=VARCHAR}, #{item.expectCloseDate,jdbcType=DATE})
    </foreach>
  </insert>

  <insert id="insertSelective" parameterType="cn.nome.saas.allocation.repository.entity.vertical.DwsShopDO" >
    insert into dws_shop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="province != null" >
        Province,
      </if>
      <if test="city != null" >
        City,
      </if>
      <if test="town != null" >
        Town,
      </if>
      <if test="shopname != null" >
        ShopName,
      </if>
      <if test="shopopendate != null" >
        ShopOpenDate,
      </if>
      <if test="shoparea != null" >
        ShopArea,
      </if>
      <if test="shopcode != null" >
        ShopCode,
      </if>
      <if test="stokarea != null" >
        StokArea,
      </if>
      <if test="shopsinglemanger != null" >
        ShopSingleManger,
      </if>
      <if test="shopmanger != null" >
        ShopManger,
      </if>
      <if test="shopopenstatus != null" >
        ShopOpenStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="town != null" >
        #{town,jdbcType=VARCHAR},
      </if>
      <if test="shopname != null" >
        #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="shopopendate != null" >
        #{shopopendate,jdbcType=DATE},
      </if>
      <if test="shoparea != null" >
        #{shoparea,jdbcType=NUMERIC},
      </if>
      <if test="shopcode != null" >
        #{shopcode,jdbcType=VARCHAR},
      </if>
      <if test="stokarea != null" >
        #{stokarea,jdbcType=NUMERIC},
      </if>
      <if test="shopsinglemanger != null" >
        #{shopsinglemanger,jdbcType=VARCHAR},
      </if>
      <if test="shopmanger != null" >
        #{shopmanger,jdbcType=VARCHAR},
      </if>
      <if test="shopopenstatus != null" >
        #{shopopenstatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="getList" resultMap="BaseResultMap" >
    select * from dws_shop limit 100
  </select>

  <select id="getAllList" resultType="cn.nome.saas.allocation.model.issue.DwsDimShopData">
    SELECT ShopID,ShopCode FROM dws_dim_shop s
  </select>

  <select id="selectShopIdByCode" resultType="java.util.HashMap">
    select ShopCode,ShopID from dws_dim_shop where ShopCode in
    <foreach collection="shopCodes" item="shopCode" index="index" open="(" close=")" separator=",">
      #{shopCode}
    </foreach>
  </select>

  <select id="selectShopListById" resultMap="DimShopResultMap">
    select ShopCode,ShopID,ShopName,RegioneNO,RegioneBusName,SubRegioneBusName,ProvinceID,
    ProvinceCode,ProvinceName,CityID,CityCode,CityName
    from dws_dim_shop where ShopID in
    <foreach collection="shopIdList" item="shopId" index="index" open="(" close=")" separator=",">
      #{shopId}
    </foreach>
  </select>

  <select id="selectShopIdByParam" resultType="java.lang.String">
    select ShopID from dws_dim_shop where 1 = 1
    <if test="regioneNo != null" >
      and RegioneNO in (
      <foreach collection="regioneNo" item="item" index="index" separator=",">
        #{item}
      </foreach>
      )
    </if>
    <if test="provinceCode != null" >
      and TRIM(ProvinceCode) = #{provinceCode}
    </if>
    <if test="cityCode != null" >
      and TRIM(CityCode) = #{cityCode}
    </if>
  </select>

  <select id="selectShopListByRegioneProvinceCity" resultMap="DimShopResultMap">
    <if test="regioneNames != null" >
      select ShopCode,ShopID from dws_dim_shop
      where
      RegioneName in
      <foreach collection="regioneNames" item="regione" index="index" open="(" close=")" separator=",">
        #{regione}
      </foreach>
    </if>

    <if test="provinceNames != null" >
      <if test="regioneNames != null" >
        union
      </if>
      select ShopCode,ShopID from dws_dim_shop
      where
      ProvinceName in
      <foreach collection="provinceNames" item="provinceName" index="index" open="(" close=")" separator=",">
        #{provinceName}
      </foreach>
    </if>

    <if test="cityNames != null" >
      <if test="regioneNames != null or provinceNames != null ">
        union
      </if>
      select ShopCode,ShopID from dws_dim_shop
      where
      CityName in
      <foreach collection="cityNames" item="cityName" index="index" open="(" close=")" separator=",">
        #{cityName}
      </foreach>
    </if>
  </select>

  <select id="selectShopListByRegioneProvinceCityIn" resultMap="DimShopResultMap">
      select ShopCode,ShopID from dws_dim_shop
      where 1=1
    <if test="regioneNames != null" >
      and RegioneName in
      <foreach collection="regioneNames" item="regione" index="index" open="(" close=")" separator=",">
        #{regione}
      </foreach>
    </if>
    <if test="provinceNames != null" >
      and ProvinceName in
      <foreach collection="provinceNames" item="provinceName" index="index" open="(" close=")" separator=",">
        #{provinceName}
      </foreach>
    </if>
    <if test="cityNames != null" >
      and CityName in
      <foreach collection="cityNames" item="cityName" index="index" open="(" close=")" separator=",">
        #{cityName}
      </foreach>
    </if>
  </select>

    <delete id="clearAll" >
		truncate dws_dim_shop
	</delete>

  <select id="getShopIdByCode" resultType="cn.nome.saas.allocation.model.issue.DwsDimShopData">
    SELECT ShopID,ShopCode FROM dws_dim_shop s
    WHERE ShopCode IN
    <foreach collection="shopCodes" item="shopCode" index="index"
             open="(" close=")" separator=",">
      #{shopCode}
    </foreach>
  </select>

</mapper>