<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.nome.saas.allocation.repository.dao.allocation.ForbiddenGlobalItemDOMapper" >


    <resultMap id="ForbiddenGlobalItemResultMap" type="cn.nome.saas.allocation.model.rule.ForbiddenGlobalItem" >
    <id property="id" column="id"/>
    <result column="f_rule_id" property="fRuleId"  />
    <!--<result column="rule_type" property="ruleType"  />-->
    <result column="region_include" property="regionInclude"  />
    <result column="province_include" property="provinceInclude"  />
    <result column="city_include" property="cityInclude"  />
    <result column="shop_include" property="shopInclude"  />
    <result column="large_include" property="largeInclude"  />
    <result column="middle_include" property="middleInclude"  />
    <result column="small_include" property="smallInclude"  />
    <result column="sale_lv_include" property="saleLvInclude"  />
    <result column="display_lv_include" property="displayLvInclude"  />
    <result column="skc_include" property="skcInclude"  />
    <result column="sku_include" property="skuInclude"  />
    <result column="region_exclude" property="regionExclude"  />
    <result column="province_exclude" property="provinceExclude"  />
    <result column="city_exclude" property="cityExclude"  />
    <result column="shop_exclude" property="shopExclude"  />
    <result column="large_exclude" property="largeExclude"  />
    <result column="middle_exclude" property="middleExclude"  />
    <result column="small_exclude" property="smallExclude"  />
    <result column="sale_lv_exclude" property="saleLvExclude"  />
    <result column="display_lv_exclude" property="displayLvExclude"  />
    <result column="skc_exclude" property="skcExclude"  />
    <result column="sku_exclude" property="skuExclude"  />
    <result column="attr_fir_val_include" property="attrFirValInclude"  />
    <result column="attr_sec_val_include" property="attrSecValInclude"  />
    <result column="attr_thi_val_include" property="attrThiValInclude"  />
    <result column="attr_four_val_include" property="attrFourValInclude"  />
    <result column="attr_fif_val_include" property="attrFifValInclude"  />
    <result column="attr_fir_val_exclude" property="attrFirValExclude"  />
    <result column="attr_sec_val_exclude" property="attrSecValExclude"  />
    <result column="attr_thi_val_exclude" property="attrThiValExclude"  />
    <result column="attr_four_val_exclude" property="attrFourValExclude"  />
    <result column="attr_fif_val_exclude" property="attrFifValExclude"  />


</resultMap>

    <resultMap id="ForbiddenGlobalItemResultMapV2" type="cn.nome.saas.allocation.model.rule.ForbiddenGlobalItem" >
        <id property="id" column="id"/>
        <result column="f_rule_id" property="fRuleId"  />
        <result column="name" property="ruleName"  />
        <result column="start_date" property="startDate"  />
        <result column="end_date" property="endDate"  />
        <result column="region_include" property="regionInclude"  />
        <result column="province_include" property="provinceInclude"  />
        <result column="city_include" property="cityInclude"  />
        <result column="shop_include" property="shopInclude"  />
        <result column="large_include" property="largeInclude"  />
        <result column="middle_include" property="middleInclude"  />
        <result column="small_include" property="smallInclude"  />
        <result column="sale_lv_include" property="saleLvInclude"  />
        <result column="display_lv_include" property="displayLvInclude"  />
        <result column="skc_include" property="skcInclude"  />
        <result column="sku_include" property="skuInclude"  />
        <result column="region_exclude" property="regionExclude"  />
        <result column="province_exclude" property="provinceExclude"  />
        <result column="city_exclude" property="cityExclude"  />
        <result column="shop_exclude" property="shopExclude"  />
        <result column="large_exclude" property="largeExclude"  />
        <result column="middle_exclude" property="middleExclude"  />
        <result column="small_exclude" property="smallExclude"  />
        <result column="sale_lv_exclude" property="saleLvExclude"  />
        <result column="display_lv_exclude" property="displayLvExclude"  />
        <result column="skc_exclude" property="skcExclude"  />
        <result column="sku_exclude" property="skuExclude"  />
        <result column="attr_fir_val_include" property="attrFirValInclude"  />
        <result column="attr_sec_val_include" property="attrSecValInclude"  />
        <result column="attr_thi_val_include" property="attrThiValInclude"  />
        <result column="attr_four_val_include" property="attrFourValInclude"  />
        <result column="attr_fif_val_include" property="attrFifValInclude"  />
        <result column="attr_fir_val_exclude" property="attrFirValExclude"  />
        <result column="attr_sec_val_exclude" property="attrSecValExclude"  />
        <result column="attr_thi_val_exclude" property="attrThiValExclude"  />
        <result column="attr_four_val_exclude" property="attrFourValExclude"  />
        <result column="attr_fif_val_exclude" property="attrFifValExclude"  />


    </resultMap>

    <sql id="Base_Column_List" >
		id, f_rule_id,
        /*rule_type,*/
		region_include, province_include, city_include, shop_include, large_include, middle_include, small_include, sale_lv_include, display_lv_include,
		skc_include, sku_include,
		attr_fir_val_include, attr_sec_val_include, attr_thi_val_include, attr_four_val_include, attr_fif_val_include,
		region_exclude, province_exclude, city_exclude, shop_exclude, large_exclude, middle_exclude, small_exclude, sale_lv_exclude, display_lv_exclude,
		skc_exclude, sku_exclude,
		attr_fir_val_exclude, attr_sec_val_exclude, attr_thi_val_exclude, attr_four_val_exclude, attr_fif_val_exclude
	</sql>



    <select id="selectByFRuleId" resultMap="ForbiddenGlobalItemResultMap" parameterType="java.lang.Integer">
        select
          <include refid="Base_Column_List" />
        from
          forbidden_global_item
        where
          f_rule_id = #{fRuleId}
    </select>

    <insert id="insertSelective"  useGeneratedKeys="true" keyProperty="id"  parameterType="cn.nome.saas.allocation.model.rule.ForbiddenGlobalItem" >
        insert into forbidden_global_item
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="fRuleId != null" >
                f_rule_id,
            </if>
            <if test="regionInclude != null" >
                region_include,
            </if>
            <!--<if test="ruleType != null" >-->
                <!--rule_type,-->
            <!--</if>-->
            <if test="provinceInclude != null" >
                province_include,
            </if>
            <if test="cityInclude != null" >
                city_include,
            </if>
            <if test="shopInclude != null" >
                shop_include,
            </if>
            <if test="largeInclude != null" >
                large_include,
            </if>
            <if test="middleInclude != null" >
                middle_include,
            </if>
            <if test="smallInclude != null" >
                small_include,
            </if>
             <if test="saleLvInclude != null" >
                 sale_lv_include,
            </if>
             <if test="displayLvInclude != null" >
                 display_lv_include,
            </if>
              <if test="skcInclude != null" >
                  skc_include,
            </if>
            <if test="skuInclude != null" >
                  sku_include,
            </if>
            <if test="regionExclude != null" >
                region_exclude,
            </if>
            <if test="provinceExclude != null" >
                province_exclude,
            </if>
            <if test="cityExclude != null" >
                city_exclude,
            </if>
            <if test="shopExclude != null" >
                shop_exclude,
            </if>
            <if test="largeExclude != null" >
                large_exclude,
            </if>
            <if test="middleExclude != null" >
                middle_exclude,
            </if>
            <if test="smallExclude != null" >
                small_exclude,
            </if>
            <if test="saleLvExclude != null" >
                sale_lv_exclude,
            </if>
            <if test="displayLvExclude != null" >
                display_lv_exclude,
            </if>
            <if test="skcExclude != null" >
                skc_exclude,
            </if>
            <if test="skuExclude != null" >
                sku_exclude,
            </if>
            <if test="attrFirValInclude != null" >
                attr_fir_val_include,
            </if>
            <if test="attrSecValInclude != null" >
                attr_sec_val_include,
            </if>
            <if test="attrThiValInclude != null" >
                attr_thi_val_include,
            </if>
            <if test="attrFourValInclude != null" >
                attr_four_val_include,
            </if>
            <if test="attrFifValInclude != null" >
                attr_fif_val_include,
            </if>
            <if test="attrFirValExclude != null" >
                attr_fir_val_exclude,
            </if>
            <if test="attrSecValExclude != null" >
                attr_sec_val_exclude,
            </if>
            <if test="attrThiValExclude != null" >
                attr_thi_val_exclude,
            </if>
            <if test="attrFourValExclude != null" >
                attr_four_val_exclude,
            </if>
            <if test="attrFifValExclude != null" >
                attr_fif_val_exclude,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="fRuleId != null" >
                #{fRuleId},
            </if>
            <!--<if test="ruleType != null" >-->
                <!--#{ruleType},-->
            <!--</if>-->
            <if test="regionInclude != null" >
                #{regionInclude},
            </if>
            <if test="provinceInclude != null" >
                #{provinceInclude},
            </if>
            <if test="cityInclude != null" >
                #{cityInclude},
            </if>
            <if test="shopInclude != null" >
                #{shopInclude},
            </if>
            <if test="largeInclude != null" >
                #{largeInclude},
            </if>
            <if test="middleInclude != null" >
                #{middleInclude},
            </if>
            <if test="smallInclude != null" >
                #{smallInclude},
            </if>
            <if test="saleLvInclude != null" >
                #{saleLvInclude},
            </if>
            <if test="displayLvInclude != null" >
                #{displayLvInclude},
            </if>
            <if test="skcInclude != null" >
                #{skcInclude},
            </if>
            <if test="skuInclude != null" >
                #{skuInclude},
            </if>
            <if test="regionExclude != null" >
                #{regionExclude},
            </if>
            <if test="provinceExclude != null" >
                #{provinceExclude},
            </if>
             <if test="cityExclude != null" >
                #{cityExclude},
            </if>
            <if test="shopExclude != null" >
                #{shopExclude},
            </if>
            <if test="largeExclude != null" >
                #{largeExclude},
            </if>
            <if test="middleExclude != null" >
                #{middleExclude},
            </if>
            <if test="smallExclude != null" >
                #{smallExclude},
            </if>
            <if test="saleLvExclude != null" >
                #{saleLvExclude},
            </if>
            <if test="displayLvExclude != null" >
                #{displayLvExclude},
            </if>
             <if test="skcExclude != null" >
                #{skcExclude},
            </if>
             <if test="skuExclude != null" >
                #{skuExclude},
            </if>
            <if test="attrFirValInclude != null" >
                #{attrFirValInclude},
            </if>
            <if test="attrSecValInclude != null" >
                #{attrSecValInclude},
            </if>
            <if test="attrThiValInclude != null" >
                #{attrThiValInclude},
            </if>
            <if test="attrFourValInclude != null" >
                #{attrFourValInclude},
            </if>
            <if test="attrFifValInclude != null" >
                #{attrFifValInclude},
            </if>
            <if test="attrFirValExclude != null" >
                #{attrFirValExclude},
            </if>
            <if test="attrSecValExclude != null" >
                #{attrSecValExclude},
            </if>
            <if test="attrThiValExclude != null" >
                #{attrThiValExclude},
            </if>
            <if test="attrFourValExclude != null" >
                #{attrFourValExclude},
            </if>
            <if test="attrFifValExclude != null" >
                #{attrFifValExclude},
            </if>
        </trim>
    </insert>

    <update id="updateByFRuleId" parameterType="cn.nome.saas.allocation.model.rule.ForbiddenGlobalItem">
        update forbidden_global_item
        <set>
            <if test="regionInclude != null" >
                region_include = #{regionInclude},
            </if>
            <if test="provinceInclude != null" >
                province_include = #{provinceInclude},
            </if>
            <if test="cityInclude != null" >
                city_include = #{cityInclude},
            </if>
            <if test="shopInclude != null" >
                shop_include = #{shopInclude},
            </if>
            <if test="largeInclude != null" >
                large_include = #{largeInclude},
            </if>
            <if test="middleInclude != null" >
                middle_include = #{middleInclude},
            </if>
            <if test="smallInclude != null" >
                small_include = #{smallInclude},
            </if>
            <if test="saleLvInclude != null" >
                sale_lv_include = #{saleLvInclude},
            </if>
            <if test="displayLvInclude != null" >
                display_lv_include = #{displayLvInclude},
            </if>
            <if test="skcInclude != null" >
                skc_include = #{skcInclude},
            </if>
            <if test="skuInclude != null" >
                sku_include = #{skuInclude},
            </if>
            <if test="regionExclude != null" >
                region_exclude = #{regionExclude},
            </if>
            <if test="provinceExclude != null" >
                province_exclude = #{provinceExclude},
            </if>
            <if test="cityExclude != null" >
                city_exclude = #{cityExclude},
            </if>
            <if test="shopExclude != null" >
                shop_exclude = #{shopExclude},
            </if>
            <if test="largeExclude != null" >
                large_exclude = #{largeExclude},
            </if>
            <if test="middleExclude != null" >
                middle_exclude = #{middleExclude},
            </if>
            <if test="smallExclude != null" >
                small_exclude = #{smallExclude},
            </if>
            <if test="saleLvExclude != null" >
                sale_lv_exclude = #{saleLvExclude},
            </if>
            <if test="displayLvExclude != null" >
                display_lv_exclude = #{displayLvExclude},
            </if>
            <if test="skcExclude != null" >
                skc_exclude = #{skcExclude},
            </if>
            <if test="skuExclude != null" >
                sku_exclude = #{skuExclude},
            </if>
            <if test="attrFirValInclude != null" >
                attr_fir_val_include = #{attrFirValInclude},
            </if>
            <if test="attrSecValInclude != null" >
                attr_sec_val_include = #{attrSecValInclude},
            </if>
            <if test="attrThiValInclude != null" >
                attr_thi_val_include = #{attrThiValInclude},
            </if>
            <if test="attrFourValInclude != null" >
                attr_four_val_include = #{attrFourValInclude},
            </if>
            <if test="attrFifValInclude != null" >
                attr_fif_val_include = #{attrFifValInclude},
            </if>
            <if test="attrFirValExclude != null" >
                attr_fir_val_exclude = #{attrFirValExclude},
            </if>
            <if test="attrSecValExclude != null" >
                attr_sec_val_exclude = #{attrSecValExclude},
            </if>
            <if test="attrThiValExclude != null" >
                attr_thi_val_exclude = #{attrThiValExclude},
            </if>
            <if test="attrFourValExclude != null" >
                attr_four_val_exclude = #{attrFourValExclude},
            </if>
            <if test="attrFifValExclude != null" >
                attr_fif_val_exclude = #{attrFifValExclude},
            </if>
        </set>
        where f_rule_id = #{fRuleId}
    </update>

    <delete id="deleteByFRuleId" parameterType="java.lang.Integer">
        delete from forbidden_global_item where f_rule_id = #{fRuleId}
    </delete>

    <select id="selectBySelective" resultMap="ForbiddenGlobalItemResultMapV2">
        <![CDATA[
        select item.f_rule_id,rule.name,rule.start_date,rule.end_date,item.region_include ,item.province_include,
        item.city_include,item.shop_include,
        item.sale_lv_include ,item.display_lv_include,
        item.large_include,item.middle_include,item.small_include,
        item.skc_include,item.sku_include,item.region_exclude,
        item.province_exclude,item.city_exclude,item.shop_exclude,
        item.large_exclude,item.middle_exclude,item.small_exclude,item.sale_lv_exclude,item.display_lv_exclude,
        item.skc_exclude,item.sku_exclude,item.attr_fir_val_include,item.attr_sec_val_include,item.attr_thi_val_include,item.attr_four_val_include,
        item.attr_fif_val_include,item.attr_fir_val_exclude,item.attr_sec_val_exclude,item.attr_thi_val_exclude,item.attr_four_val_exclude,item.attr_fif_val_exclude
        from forbidden_global_item item,forbidden_rule rule
        where item.f_rule_id = rule.id and rule.type = #{type} and status = #{status}
        and date(rule.start_date) <= date(now())  and date(rule.end_date) >=date(now())
        ]]>
        <if test="ruleIdList != null">
            and item.f_rule_id in
            <foreach collection="ruleIdList" item="ruleId" index="index"
                     open="(" close=")" separator=",">
                #{ruleId}
            </foreach>
        </if>
        and (1 = 1
        <if test="region != null">
            or item.region_include like concat('%', #{region}, '%')
        </if>
        <if test="province != null">
            or item.province_include like concat('%', #{province}, '%')
        </if>
        <if test="city != null">
            or item.city_include like concat('%', #{city}, '%')
        </if>
        <if test="shopName != null">
            or item.shop_include like concat('%', #{shopName}, '%')
        </if>
        <if test="saleLv != null">
            or item.sale_lv_include like concat('%', #{saleLv}, '%')
        </if>
        <if test="displayLv != null">
            or item.display_lv_include like concat('%', #{displayLv}, '%')
        </if>

        <if test="largeInclude != null">
            or item.large_include like concat('%', #{largeInclude}, '%')
        </if>
        <if test="middleInclude != null">
            or item.middle_include like concat('%', #{middleInclude}, '%')
        </if>
        <if test="smallInclude != null">
            or item.small_include like concat('%', #{smallInclude}, '%')
        </if>
        )
    </select>

    <select id="selectForbiddenRule" resultType="java.lang.Integer">
        SELECT distinct rule_id FROM forbidden_single_rule where shop_id = #{shopId}
    </select>

    <select id="selectWhiteListRule" resultType="java.lang.Integer">
        SELECT distinct rule_id FROM white_list_single_rule where shop_id = #{shopId}
    </select>

    <select id="selectSecurityRule" resultType="java.lang.Integer">
        SELECT distinct rule_id FROM security_single_rule where shop_id = #{shopId}
    </select>

    <select id="selectForbiddenRuleByMatCode" resultType="java.lang.Integer">
        SELECT distinct rule_id FROM forbidden_single_rule where type_value = #{matCode} and type = 4
    </select>

    <select id="selectWhiteListRuleByMatCode" resultType="java.lang.Integer">
        SELECT distinct rule_id FROM white_list_single_rule where type_value = #{matCode} and type = 4
    </select>

    <select id="selectSecurityRuleByMatCode" resultType="java.lang.Integer">
        SELECT distinct rule_id FROM security_single_rule where type_value = #{matCode} and type = 4
    </select>

</mapper>