<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.nome.saas.allocation.repository.dao.allocation.ImportConfigDOMapper" >
    <resultMap id="importConfigDO" type="cn.nome.saas.allocation.repository.entity.allocation.ImportConfigDO">
        <id property="id" column="id"/>
        <result property="tplCode" column="tpl_code"/>
        <result property="tplColumnName" column="tpl_column_name"/>
        <result property="tplColumnNum" column="tpl_column_num"/>
        <result property="tableName" column="table_name"/>
        <result property="columnName" column="column_name"/>
        <result property="checkType" column="check_type"/>
        <result property="relationTableName" column="relation_table_name"/>
        <result property="relationColumnName" column="relation_column_name"/>
        <result property="tplColumnType" column="tpl_column_type"/>
        <result property="transferJson" column="transfer_json"/>
    </resultMap>

    <select id="queryByTplCode" resultMap="importConfigDO">
      select id,tpl_code,tpl_column_name,tpl_column_num,table_name,column_name,check_type,relation_table_name,relation_column_name,tpl_column_type,transfer_json
      from import_config  where tpl_code = #{tplCode} and is_enable = 1
    </select>

    <insert id="insertSql">
         ${insertSql}
    </insert>

    <delete id="deleteSql">
         ${deleteSql}
    </delete>
</mapper>