<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.nome.saas.allocation.repository.dao.allocation.IssueSandBoxTaskMapper" >

    <insert id="addSandBoxTask" parameterType="cn.nome.saas.allocation.repository.entity.allocation.IssueSandBoxTask">
        insert into issue_sandbox_task (task_name,start_date,end_date,status, use_sale_predict, creator, created_at) values
        (#{taskName},#{startDate},#{endDate},#{status},#{useSalePredict}, #{creator},now())
    </insert>

    <select id="querySandBoxTaskList" resultType="cn.nome.saas.allocation.repository.entity.allocation.IssueSandBoxTask">
        select id as taskId,task_name as taskName,start_date as startDate,end_date as endDate,status,creator, use_sale_predict useSalePredict, created_at as createdAt
        from issue_sandbox_task
        where 1 =1
        <if test="keyWord != null">
            and (
            task_name like concat('%', #{keyWord}, '%')
            or creator like concat('%', #{keyWord}, '%')
            )
        </if>
        order by created_at desc
        <if test="page != null">
            limit #{page.offset,jdbcType=INTEGER}, #{page.pageSize,jdbcType=INTEGER}
        </if>
    </select>

    <select id="querySandBoxTaskCount" resultType="java.lang.Integer">
        select count(1)
        from issue_sandbox_task
        where 1 =1
        <if test="keyWord != null">
            and (
            task_name like concat('%', #{keyWord}, '%')
            or creator like concat('%', #{keyWord}, '%')
            )
        </if>
    </select>

    <select id="selectByParam" resultType="cn.nome.saas.allocation.repository.entity.allocation.IssueSandBoxTask">
        select id as taskId,task_name as taskName,start_date as startDate,end_date as endDate,status, use_sale_predict useSalePredict,creator, created_at as createdAt
        from issue_sandbox_task
        where 1 =1
        <if test="taskName != null">
            and task_name like concat('%', #{keyWord}, '%')
        </if>
        <if test="status != null">
            <foreach collection="status" item="item" index="index" open="and status in (" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        order by created_at asc
    </select>

    <select id="getSandBoxTaskByName" resultType="cn.nome.saas.allocation.repository.entity.allocation.IssueSandBoxTask">
        select id as taskId,task_name as taskName,start_date as startDate,end_date as endDate,status, use_sale_predict useSalePredict,creator, created_at as createdAt
        from issue_sandbox_task
        where task_name = #{taskName}
    </select>



    <update id="updateStatus">
        update issue_sandbox_task set status = #{status},updated_at=now() where id = #{taskId}
    </update>

</mapper>