<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.nome.saas.allocation.repository.dao.allocation.IssueSandboxRollingStockMapper">

    <insert id="addIssueSandboxRollingStock" parameterType="java.util.List">
        insert into issue_sandbox_rolling_stock (
        task_id, shop_code, mat_code, size_name, issue_date, avg_sale_qty, arrive_stock_qty, total_stock_qty) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.taskId},#{item.shopCode},#{item.matCode},#{item.sizeName},#{item.issueDate},#{item.avgSaleQty},#{item.arriveStockQty},#{item.totalStockQty})
        </foreach>
    </insert>

</mapper>