<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.nome.saas.allocation.repository.dao.allocation.IssueDayPeriodMapper" >

    <insert id="addIssueDay" parameterType="java.util.List">
        insert into issue_day_period(shop_code,shop_id,issue_date,arrive_date)
        values
        <foreach collection="list" item="item" index="index"
                 separator=",">
            (#{item.shopCode},#{item.shopId},#{item.issueDate},#{item.arriveDate})
        </foreach>
    </insert>

    <delete id="clearData">
        delete from issue_day_period
    </delete>

    <select id="getIssueDay" resultType="cn.nome.saas.allocation.repository.entity.allocation.IssueDayPeriod">
        select shop_id shopId, shop_code shopCode, issue_date issueDate, arrive_date arriveDate
        from issue_day_period
        where
          issue_date between #{startDate} and #{endDate}
          or arrive_date between #{startDate} and #{endDate}
    </select>

</mapper>