<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.nome.saas.allocation.repository.dao.allocation.QdIssueSkcListDOMapper" >


    <select id="getMatCodelist" resultType="java.lang.String">
        select distinct mat_code from  qd_issue_skc_list where sotck_qty > 0
        <if test="seasonList != null">
            <foreach collection="seasonList" open="and season in ("  close=")" separator="," item="season">
                #{season}
            </foreach>
        </if>
    </select>

    <select id="getSkclistByOrder" resultType="cn.nome.saas.allocation.repository.entity.allocation.QdIssueSkcListDO">
        select mat_code as matCode,mat_name as matName,category_name as categoryName,mid_category_name as midCategoryName,
        plan_issue_area as planIssueArea,match_type as matchType,quote_price as quotePrice,model_type as modelType,
        priority_flag as priorityFlag,is_news as isNews
        from qd_issue_skc_list
        where sotck_qty > 0
        order by priorityFlag desc,(sotck_qty/purchase_month) asc
    </select>


    <select id="getMatCodeByMidCategory" resultType="java.lang.String">
        select mat_code from qd_issue_skc_list
        where 1 = 1
        <foreach collection="list" open="and mid_category_name in ("  close=")" separator="," item="name">
            #{name}
        </foreach>
    </select>

    <select id="getNewInStockData" resultType="java.lang.String">
        select mat_code from qd_issue_skc_list
        where 1 = 1 and is_news = 1
    </select>

</mapper>