<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.nome.saas.allocation.repository.dao.allocation.QdIssueDisplayDesginDOMapper" >


    <resultMap id="BaseResultMap" type="cn.nome.saas.allocation.repository.entity.allocation.QdIssueDisplayDesginDO" >
        <result column="region_name" property="regionName" />
        <result column="province_name" property="provinceName" />
        <result column="shop_code" property="shopCode" />
        <result column="shop_id" property="shopId" />
        <result column="shop_name" property="shopName" />
        <result column="male_standard_skc" property="maleStandardSkc" />
        <result column="female_standard_skc" property="femaleStandardSkc" />
        <result column="clothing_skc" property="clothingSkc" />
        <result column="display_ratio" property="displayRatio" />
        <result column="new_display_ratio" property="newDisplayRatio" />

    </resultMap>

    <select id = "getShopDisplayDesignList" resultMap="BaseResultMap">
        select region_name,province_name,shop_code,shop_name,male_standard_skc,female_standard_skc,clothing_skc,display_ratio,new_display_ratio
        from qd_issue_display_design
    </select>

    <select id = "getShopDisplayDesignListByShop" resultMap="BaseResultMap">
        select region_name,province_name,shop_code,shop_id,shop_name,male_standard_skc,female_standard_skc,clothing_skc,display_ratio,new_display_ratio
        from qd_issue_display_design
        where 1=1
        <if test="list != null">
        <foreach collection="list" open="and shop_id IN ("  close=")" separator="," item="shopId">
            #{shopId}
        </foreach>
        </if>
    </select>

</mapper>