<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.nome.saas.allocation.repository.dao.allocation.SecuritySingleRuleDOMapper" >

    <resultMap id="SecurityRuleSingle" type="cn.nome.saas.allocation.repository.entity.allocation.SecuritySingleRuleDO" >
        <id property="id" column="id"/>
        <result column="rule_name" property="ruleName"  />
        <result column="rule_id" property="ruleId"  />
        <result column="shop_id" property="shopId"  />
        <result column="shop_code" property="shopCode"/>
        <result column="shop_name" property="shopName"  />
        <result column="type" property="type" />
        <result column="type_value" property="typeValue"  />
        <result column="type_name" property="typeName"  />
        <result column="num" property="num"  />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate"  />
        <result column="remark" property="remark"  />
        <result column="modified_by" property="modifiedBy"  />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="updated_by" property="updatedBy"/>
    </resultMap>


    <sql id="Base_Column_List" >
        id,rule_name,rule_id,shop_id,type,type_value,type_name,num,start_date,end_date,remark,modified_by,created_at,created_by,updated_at,updated_by
    </sql>

    <select id="selectSecurityList" parameterType="java.util.Map" resultMap="SecurityRuleSingle">
        select shop_id,type_value,max(num) as num from security_single_rule
        where 1 = 1
        <if test="shopIdList != null">
            and shop_id in (
            <foreach collection="shopIdList" item="shopId" index="index" separator=",">
                #{shopId}
            </foreach>
            )
        </if>
        <if test="matCodeList != null">
            and type_value in (
            <foreach collection="matCodeList" item="matCode" index="index" separator=",">
                #{matCode}
            </foreach>
            )
        </if>
        group by shop_id,type_value
    </select>


    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.Map" >
        insert into security_single_rule
        (rule_name,
        rule_id,
        shop_id,
        shop_code,
        shop_name,
        type,
        type_value,
        num,
        start_date,
        end_date,
        remark,
        modified_by,
        created_at,
        created_by,
        updated_at,
        updated_by)

        values
        <foreach collection="singleList" item="item" index="index" separator=",">
            (#{item.ruleName},#{item.ruleId}, #{item.shopId}, #{item.shopCode}, #{item.shopName}, #{item.type},#{item.typeValue},#{item.num},#{item.startDate},#{item.endDate},
            #{item.remark}, #{item.modifiedBy},#{item.createdAt},#{item.createdBy},#{item.updatedAt},#{item.updatedBy})
        </foreach>


    </insert>

    <delete id="deleteByRuleName" parameterType="java.lang.String" >
        delete from security_single_rule where rule_name = #{ruleName}
    </delete>
    <delete id="deleteByRuleId" parameterType="java.lang.Integer" >
        delete from security_single_rule where rule_id = #{ruleId}
    </delete>


</mapper>