<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.nome.saas.allocation.repository.dao.allocation.SubWarehouseStatusRecordDOMapper" >

    <resultMap id="SubWarehouseStatusRecordResultMap" type="cn.nome.saas.allocation.repository.entity.allocation.SubWarehouseStatusRecordDO" >
        <result column="id" property="id" />
        <result column="task_id" property="taskId" />
        <result column="config_id" property="configId" />
        <result column="status" property="status" />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy" />
        <result column="updated_at" property="updatedAt" />
        <result column="updated_by" property="updatedBy" />
    </resultMap>

    <sql id="Base_Column_List" >
		id, task_id, config_id, status, created_at, created_by, updated_at, updated_by
	</sql>

    <select id="selectByPage" resultMap="SubWarehouseStatusRecordResultMap">
        select
          <include refid="Base_Column_List" />
        from
          sub_warehouse_status_record
        where
          1=1
        <if test="taskId != null" >
            and task_id in
            <foreach collection="taskId" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="configId != null" >
            and config_id in
            <foreach collection="configId" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
         <if test="status != null" >
            and status in
            <foreach collection="status" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        order by status
        <if test="offset != null and pageSize != null" >
            limit #{offset,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
        </if>
    </select>


</mapper>