<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.nome.saas.allocation.repository.old.location.dao.ShopsMapper" >
  <resultMap id="LocationModel" type="cn.nome.saas.allocation.model.old.LocationModel" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="shop_name" property="shop_name" jdbcType="VARCHAR" />
    <result column="province_name" property="province_name" jdbcType="VARCHAR" />
    <result column="city_name" property="city_name" jdbcType="VARCHAR" />
    <result column="address" property="location" jdbcType="VARCHAR" />
    <result column="area" property="store_acreage" jdbcType="FLOAT" />
    <result column="real_area" property="used_acreage" jdbcType="FLOAT" />
    <result column="rent" property="store_rent" jdbcType="FLOAT" />
    <result column="shop_rank" property="store_aim" jdbcType="VARCHAR" />
    <result column="open_season" property="open_quarter" jdbcType="VARCHAR" />
    <result column="run_type" property="business_nature" jdbcType="VARCHAR" />
    <result column="mall_type" property="store_type" jdbcType="VARCHAR" />
    <result column="trade_type" property="business_type" jdbcType="VARCHAR" />
    <result column="door" property="open_monma" jdbcType="FLOAT" />
    <result column="distance" property="entrance_distance" jdbcType="FLOAT" />
    <result column="floor" property="site_floor" jdbcType="VARCHAR" />
    <result column="area_type" property="site_type" jdbcType="VARCHAR" /> 
    <result column="development_tendency" property="development_tendency" jdbcType="VARCHAR" />
    <result column="business_level" property="business_level" jdbcType="VARCHAR" /> 
    <result column="spending_power" property="spending_power" jdbcType="VARCHAR" />
    <result column="site_level" property="site_level" jdbcType="VARCHAR" />
    <result column="shopping_center_rate" property="shopping_center_rate" jdbcType="VARCHAR" />
    <result column="predict_sales_amount" property="forecast_sale" jdbcType="FLOAT" />
    <result column="target_sales_amount" property="target_sale" jdbcType="FLOAT" />
  </resultMap>

  <select id="getStoreList" resultMap="LocationModel">
    	select * from new_shop_info where deleted_at is NULL
  </select>

  <select id="getOldStoreList" resultMap="LocationModel">
    	select * from old_shop_info where deleted_at is NULL
  </select>

  <select id="getSpecifiedStore" parameterType="Integer" resultMap="LocationModel">
    	select * from new_shop_info where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="deleteSpecifiedStore" parameterType="Integer">
    	update new_shop_info set deleted_at = now() where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getStoreByShopnameAndAddress" resultMap="LocationModel">
    	select * from new_shop_info where shop_name = #{shop_name} and address = #{address}
  </select>  

  <select id="getStoreUpdateTime" resultType="String">
    	SELECT max(update_time) FROM `new_shop_info`
  </select>
  
</mapper>