<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
        namespace="cn.nome.saas.cart.repository.dao.CartItemDOMapper">

    <resultMap id="BaseResultMap"
               type="cn.nome.saas.cart.repository.entity.CartItemDO">
        <id column="id" property="id" jdbcType="INTEGER"/>

        <result column="corp_id" property="corpId" jdbcType="INTEGER"/>
        <result column="app_id" property="appId" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>

        <result column="alias" property="alias" jdbcType="VARCHAR"/>
        <result column="product_id" property="productId"
                jdbcType="INTEGER"/>
        <result column="sku_id" property="skuId" jdbcType="INTEGER"/>
        <result column="sku_code" property="skuCode" jdbcType="VARCHAR"/>

        <result column="count" property="count" jdbcType="INTEGER"/>
        <result column="seller" property="seller" jdbcType="INTEGER"/>
        <result column="created_at" property="createdAt"
                jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt"
                jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
		id, alias, product_id, sku_id,sku_code, count, seller, created_at, updated_at
	</sql>

    <select id="selectByAlias" resultMap="BaseResultMap">
		SELECT
        <include refid="Base_Column_List"/>
        FROM cart_item where alias = #{alias,jdbcType=VARCHAR}
	</select>

    <select id="selectCountByAlias" resultType="java.lang.Integer">
		SELECT count(1) FROM cart_item where alias = #{alias,jdbcType=VARCHAR}
	</select>

    <select id="selectSkus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cart_item
        where alias = #{alias,jdbcType=VARCHAR}
        and sku_code in
        <foreach collection="skuCodes" item="skuCode" index="index"
                 open="(" close=")" separator=",">
            #{skuCode}
        </foreach>
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from cart_item
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey"
            parameterType="java.lang.Integer">
		delete from cart_item
		where id = #{id,jdbcType=INTEGER}
	</delete>

    <insert id="insert"
            parameterType="cn.nome.saas.cart.repository.entity.CartItemDO">
		insert into cart_item (id,corp_id, app_id,
		user_id, alias, product_id,
		sku_id, sku_code,count, created_at,
		updated_at)
		values (#{id,jdbcType=INTEGER}, #{alias,jdbcType=VARCHAR},
		#{productId,jdbcType=INTEGER},
		#{skuId,jdbcType=INTEGER},#{skuCode,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP},
		#{updatedAt,jdbcType=TIMESTAMP})
	</insert>

    <insert id="insertSelective"
            parameterType="cn.nome.saas.cart.repository.entity.CartItemDO">
        insert into cart_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="corpId != null">
                corp_id,
            </if>
            <if test="appId != null">
                app_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="alias != null">
                alias,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="skuId != null">
                sku_id,
            </if>
            <if test="skuCode != null">
                sku_code,
            </if>
            <if test="count != null">
                count,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="updatedAt != null">
                updated_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="corpId != null">
                #{corpId,jdbcType=INTEGER},
            </if>
            <if test="appId != null">
                #{appId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="alias != null">
                #{alias,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=INTEGER},
            </if>
            <if test="skuId != null">
                #{skuId,jdbcType=INTEGER},
            </if>
            <if test="skuCode != null">
                #{skuCode,jdbcType=VARCHAR},
            </if>
            <if test="count != null">
                #{count,jdbcType=INTEGER},
            </if>
            <if test="createdAt != null">
                #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                #{updatedAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective"
            parameterType="cn.nome.saas.cart.repository.entity.CartItemDO">
        update cart_item
        <set>
            <if test="alias != null">
                alias = #{alias,jdbcType=VARCHAR},
            </if>
            <if test="productId != null">
                product_id = #{productId,jdbcType=INTEGER},
            </if>
            <if test="skuId != null">
                sku_id = #{skuId,jdbcType=INTEGER},
            </if>
            <if test="skuCode != null">
                sku_code = #{skuCode,jdbcType=VARCHAR},
            </if>
            <if test="count != null">
                count = #{count,jdbcType=INTEGER},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey"
            parameterType="cn.nome.saas.cart.repository.entity.CartItemDO">
		update cart_item
		set alias = #{alias,jdbcType=VARCHAR},
		product_id = #{productId,jdbcType=INTEGER},
		sku_id = #{skuId,jdbcType=INTEGER},
		sku_code = #{skuCode,jdbcType=VARCHAR},
		count = #{count,jdbcType=INTEGER},
		created_at = #{createdAt,jdbcType=TIMESTAMP},
		updated_at = #{updatedAt,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>

    <update id="updateExistsSku">
        update cart_item
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="count =case" suffix="end,">
                <!-- index作为map的key,item为map的v值 -->
                <foreach item="value" index="key"
                         collection="existsSkus">
                    when sku_code=#{key} then #{value}
                </foreach>
            </trim>
        </trim>
        where alias = #{alias,jdbcType=VARCHAR}
        <foreach collection="existsSkus" separator="," open="AND sku_code IN (" close=")" item="value" index="key">
            #{key}
        </foreach>
    </update>

    <update id="updateOneSku">
		update cart_item SET
		count = #{count,jdbcType=INTEGER}
		WHERE alias = #{alias,jdbcType=VARCHAR}
		AND sku_code = #{skuCode,jdbcType=VARCHAR}
	</update>

    <update id="updateItem" parameterType="cn.nome.saas.cart.repository.entity.UpdateCartItemDO">
        update cart_item
        set
        <if test="count != null">
            count = #{count,jdbcType=INTEGER},
        </if>
        <if test="skuId != null">
            sku_id = #{skuId,jdbcType=INTEGER},
        </if>
        <if test="productId != null">
            product_id = #{productId,jdbcType=INTEGER},
        </if>
        <if test="newSkuCode != null">
            sku_code = #{newSkuCode,jdbcType=VARCHAR},
        </if>
        updated_at = sysdate()
        where alias = #{alias,jdbcType=VARCHAR} and sku_code = #{oldSkuCode,jdbcType=VARCHAR}
    </update>

    <insert id="batchInsertSku" parameterType="java.util.ArrayList">
        insert into cart_item
        (corp_id, app_id,user_id,alias, product_id, sku_id,sku_code, count)
        values
        <foreach collection="addItem" item="item" index="index"
                 separator=",">
            (#{item.corpId,jdbcType=INTEGER},
            #{item.appId,jdbcType=INTEGER},
            #{item.userId,jdbcType=INTEGER},#{item.alias,jdbcType=VARCHAR},
            #{item.productId,jdbcType=INTEGER},
            #{item.skuId,jdbcType=INTEGER},
            #{item.skuCode,jdbcType=VARCHAR},
            #{item.count,jdbcType=INTEGER})
        </foreach>
    </insert>

    <delete id="delSkuCodes" parameterType="cn.nome.saas.cart.repository.entity.DelCartItemDO">
        delete
        from
        cart_item
        where
        alias = #{alias,jdbcType=VARCHAR}
        and
        sku_code in
        <foreach item="skuCode" collection="skuCodes" open="("
                 separator="," close=")">
            #{skuCode,jdbcType=VARCHAR}
        </foreach>
    </delete>

    <insert id="addCartItem"
            parameterType="cn.nome.saas.cart.repository.entity.AddCartItemDO">
		insert into cart_item (corp_id, app_id,user_id,alias,
		product_id,sku_id,sku_code, count)
		values (#{corpId,jdbcType=INTEGER},
		#{appId,jdbcType=INTEGER},
		#{userId,jdbcType=INTEGER},#{alias,jdbcType=VARCHAR},
		#{productId,jdbcType=INTEGER},
		#{skuId,jdbcType=INTEGER},
		#{skuCode,jdbcType=VARCHAR},
		#{count,jdbcType=INTEGER})
	</insert>

    <insert id="insertOrUpdate"
            parameterType="cn.nome.saas.cart.repository.entity.AddCartItemDO">
		insert into cart_item (corp_id, app_id,user_id,alias,product_id,sku_id,sku_code, count, seller)
		values (
		#{corpId,jdbcType=INTEGER},#{appId,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},#{alias,jdbcType=VARCHAR},
		#{productId,jdbcType=INTEGER},#{skuId,jdbcType=INTEGER},#{skuCode,jdbcType=VARCHAR},#{count,jdbcType=INTEGER}, #{seller,jdbcType=INTEGER})
		ON DUPLICATE KEY UPDATE
		count=values(count)
	</insert>

    <select id="selectOneSku" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cart_item
        where alias = #{alias,jdbcType=VARCHAR}
        and sku_code = #{skuCode,jdbcType=VARCHAR}
    </select>

    <delete id="batchDelSku" parameterType="java.util.ArrayList">
        delete from cart_item
        where alias = #{alias,jdbcType=VARCHAR}
        and sku_code in
        <foreach collection="skuCodes" item="skuCode" index="index"
                 open="(" close=")" separator=",">
            #{skuCode}
        </foreach>
    </delete>

    <delete id="delOneSku">
        delete from cart_item where alias = #{alias,jdbcType=VARCHAR} and sku_code = #{skuCode,jdbcType=VARCHAR}
    </delete>

</mapper>