<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.nome.saas.sdc.repository.dao.BusinessAttributeValuesMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="cn.nome.saas.sdc.repository.entity.BusinessAttributeValuesDO" id="BaseResultMap">
    	<id property="id" column="id"/>
        <result property="corpId" column="corp_id"/>
        <result property="businessType" column="business_type"/>
        <result property="businessId" column="business_id"/>
        <result property="attributeId" column="attribute_id"/>
        <result property="attributeValueId" column="attribute_value_id"/>
        <result property="attributeValue" column="attribute_value"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="lastUpdateUserId" column="last_update_user_id"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>
	<sql id="Base_Column_List" >
		id, corp_id, business_type, business_id, attribute_id, attribute_value_id, attribute_value, created_at, updated_at, create_user_id, last_update_user_id, is_deleted
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" >
		select
	    <include refid="Base_Column_List" />
	    from business_attribute_values
		where id = #{id}
	</select>
	<delete id="deleteByPrimaryKey" >
	    delete from business_attribute_values
		where id = #{id}
	</delete>
	<insert id="insertSelective"  useGeneratedKeys="true" keyProperty="id"  parameterType="cn.nome.saas.sdc.repository.entity.BusinessAttributeValuesDO" >
    	insert into business_attribute_values
    	<trim prefix="(" suffix=")" suffixOverrides="," >
	        <if test="id != null" >
		        id,
			</if>
	        <if test="corpId != null" >
		        corp_id,
			</if>
	        <if test="businessType != null" >
		        business_type,
			</if>
	        <if test="businessId != null" >
		        business_id,
			</if>
	        <if test="attributeId != null" >
		        attribute_id,
			</if>
	        <if test="attributeValueId != null" >
		        attribute_value_id,
			</if>
	        <if test="attributeValue != null" >
		        attribute_value,
			</if>
	        <if test="createdAt != null" >
		        created_at,
			</if>
	        <if test="updatedAt != null" >
		        updated_at,
			</if>
	        <if test="createUserId != null" >
		        create_user_id,
			</if>
	        <if test="lastUpdateUserId != null" >
		        last_update_user_id,
			</if>
	        <if test="isDeleted != null" >
		        is_deleted,
			</if>
		</trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	        <if test="id != null" >
		        #{id},
			</if>
	        <if test="corpId != null" >
		        #{corpId},
			</if>
	        <if test="businessType != null" >
		        #{businessType},
			</if>
	        <if test="businessId != null" >
		        #{businessId},
			</if>
	        <if test="attributeId != null" >
		        #{attributeId},
			</if>
	        <if test="attributeValueId != null" >
		        #{attributeValueId},
			</if>
	        <if test="attributeValue != null" >
		        #{attributeValue},
			</if>
	        <if test="createdAt != null" >
		        #{createdAt},
			</if>
	        <if test="updatedAt != null" >
		        #{updatedAt},
			</if>
	        <if test="createUserId != null" >
		        #{createUserId},
			</if>
	        <if test="lastUpdateUserId != null" >
		        #{lastUpdateUserId},
			</if>
	        <if test="isDeleted != null" >
		        #{isDeleted},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.nome.saas.sdc.repository.entity.BusinessAttributeValuesDO" >
		update business_attribute_values
	    <set >
		    <if test="corpId != null" >
		        corp_id = #{corpId},
		    </if>
		    <if test="businessType != null" >
		        business_type = #{businessType},
		    </if>
		    <if test="businessId != null" >
		        business_id = #{businessId},
		    </if>
		    <if test="attributeId != null" >
		        attribute_id = #{attributeId},
		    </if>
		    <if test="attributeValueId != null" >
		        attribute_value_id = #{attributeValueId},
		    </if>
		    <if test="attributeValue != null" >
		        attribute_value = #{attributeValue},
		    </if>
		    <if test="createdAt != null" >
		        created_at = #{createdAt},
		    </if>
		    <if test="updatedAt != null" >
		        updated_at = #{updatedAt},
		    </if>
		    <if test="createUserId != null" >
		        create_user_id = #{createUserId},
		    </if>
		    <if test="lastUpdateUserId != null" >
		        last_update_user_id = #{lastUpdateUserId},
		    </if>
		    <if test="isDeleted != null" >
		        is_deleted = #{isDeleted},
		    </if>
	    </set>
	    where id = #{id}
	</update>
	<sql id="wherePageList">
  		<where>
		    <if test="req.id != null" >
		        and id = #{req.id}
		    </if>
				    <if test="req.corpId != null" >
		        and corp_id = #{req.corpId}
		    </if>
		    <if test="req.businessType != null" >
		        and business_type = #{req.businessType}
		    </if>
		    <if test="req.businessId != null" >
		        and business_id = #{req.businessId}
		    </if>
		    <if test="req.attributeId != null" >
		        and attribute_id = #{req.attributeId}
		    </if>
		    <if test="req.attributeValueId != null" >
		        and attribute_value_id = #{req.attributeValueId}
		    </if>
		    <if test="req.attributeValue != null" >
		        and attribute_value = #{req.attributeValue}
		    </if>
		    <if test="req.createdAt != null" >
		        and created_at = #{req.createdAt}
		    </if>
		    <if test="req.updatedAt != null" >
		        and updated_at = #{req.updatedAt}
		    </if>
		    <if test="req.createUserId != null" >
		        and create_user_id = #{req.createUserId}
		    </if>
		    <if test="req.lastUpdateUserId != null" >
		        and last_update_user_id = #{req.lastUpdateUserId}
		    </if>
		    <if test="req.isDeleted != null" >
		        and is_deleted = #{req.isDeleted}
		    </if>
			<if test="req.attributeIds != null" >
				<foreach collection="req.attributeIds" item="attributeId" open="and attribute_id in (" close=")" separator=",">
					#{attributeId}
				</foreach>
			</if>
		</where>
	</sql>

	<select id="query" resultMap="BaseResultMap" >
	    select
	    <include refid="Base_Column_List" />
	    from business_attribute_values
	    <include refid="wherePageList" />
	</select>
</mapper>