<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.nome.saas.sdc.repository.dao.RegionsMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="cn.nome.saas.sdc.repository.entity.RegionsDO" id="BaseResultMap">
    	<id property="id" column="id"/>
        <result property="province" column="province"/>
        <result property="provinceCode" column="province_code"/>
        <result property="city" column="city"/>
        <result property="cityCode" column="city_code"/>
        <result property="district" column="district"/>
        <result property="districtCode" column="district_code"/>
    </resultMap>
	<sql id="Base_Column_List" >
		id, province, province_code, city, city_code, district, district_code
	</sql>
	<sql id="wherePageList">
  		<where> 1=1
		    <if test="req.id != null" >
		        and id = #{req.id}
		    </if>
				    <if test="req.province != null" >
		        and province = #{req.province}
		    </if>
		    <if test="req.city != null" >
		        and city = #{req.city}
		    </if>
		    <if test="req.district != null" >
		        and district = #{req.district}
		    </if>
		</where>
	</sql>

	<select id="getList" resultMap="BaseResultMap" >
	    select 
	    <include refid="Base_Column_List" />
	    from regions
	    <include refid="wherePageList" />
	</select>
</mapper>