<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.nome.saas.sdc.repository.dao.SeasonChangeMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="cn.nome.saas.sdc.repository.entity.SeasonChangeDO" id="BaseResultMap">
        <result property="id" column="id"/>
        <result property="shopCode" column="shop_code"/>
        <result property="shopName" column="shop_name"/>
        <result property="year" column="year"/>
        <result property="seasonsAlternate" column="seasons_alternate"/>
        <result property="seasonsAlternateDay" column="seasons_alternate_day"/>
        <result property="seasonsAlternateCoefficient" column="seasons_alternate_coefficient"/>
        <result property="createUserCode" column="create_user_id"/>
        <result property="updatedUserCode" column="updated_user_id"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtUpdated" column="gmt_updated"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
      id,shop_code,year,seasons_alternate,seasons_alternate_day,seasons_alternate_coefficient,create_user_id,updated_user_id
      ,gmt_create,gmt_updated,is_deleted
    </sql>
    <sql id="wherePageList">
        <where>
            is_deleted=0
            <if test="record.id !=null">
                and id=#{record.id}
            </if>
            <if test="record.shopCode !=null">
                and shop_code=#{record.shopCode}
            </if>
            <if test="record.year !=null">
                and year=#{record.year}
            </if>
            <if test="record.seasonsAlternate !=null">
                and seasons_alternate=#{record.seasonsAlternate}
            </if>
            <if test="record.seasonsAlternateDay !=null">
                and seasons_alternate_day=#{record.seasonsAlternateDay}
            </if>
            <if test="record.seasonsAlternateCoefficient !=null">
                and seasons_alternate_coefficient=#{record.seasonsAlternateCoefficient}
            </if>
            <if test="record.createUserCode!=null">
                and create_user_id=#{record.createUserCode}
            </if>
            <if test="record.updatedUserCode!=null">
                and updated_user_id=#{record.updatedUserCode}
            </if>
            <if test="record.gmtCreate!=null">
                and gmt_create=#{record.gmtCreate}
            </if>
            <if test="record.gmtUpdated!=null">
                and gmt_updated=#{record.gmtUpdated}
            </if>
            <if test="record.isDeleted!=null">
                and is_deleted=#{record.isDeleted}
            </if>
        </where>
    </sql>

    <select id="getPageList" resultMap="BaseResultMap">
        select
        t.id,t.shop_code,t1.shop_name,t.year,t.seasons_alternate,t.seasons_alternate_day
        ,t.seasons_alternate_coefficient,t.create_user_id,t.updated_user_id
        ,t.gmt_create,t.gmt_updated,t.is_deleted
        from season_change as t
        left join shops as t1 on t.shop_code=t1.shop_code
        where t.is_deleted=0
        <if test="record.id !=null">
            and t.id=#{record.id}
        </if>
        <if test="record.shopCode !=null">
            and t.shop_code=#{record.shopCode}
        </if>
        <if test="record.shopName !=null">
            and t1.shop_name=#{record.shopName}
        </if>
        <if test="record.year !=null">
            and t.year=#{record.year}
        </if>
        <if test="record.seasonsAlternate !=null">
            and t.seasons_alternate=#{record.seasonsAlternate}
        </if>
        <if test="record.seasonsAlternateDay !=null">
            and t.seasons_alternate_day=#{record.seasonsAlternateDay}
        </if>
        <if test="record.seasonsAlternateCoefficient !=null">
            and t.seasons_alternate_coefficient=#{record.seasonsAlternateCoefficient}
        </if>
        <if test="record.createUserCode!=null">
            and t.create_user_id=#{record.createUserCode}
        </if>
        <if test="record.updatedUserCode!=null">
            and t.updated_user_id=#{record.updatedUserCode}
        </if>
        <if test="record.gmtCreate!=null">
            and t.gmt_create=#{record.gmtCreate}
        </if>
        <if test="record.gmtUpdated!=null">
            and t.gmt_updated=#{record.gmtUpdated}
        </if>
        <if test="record.isDeleted!=null">
            and t.is_deleted=#{record.isDeleted}
        </if>
        <if test="page!=null">
            limit #{page.offset,jdbcType=INTEGER}, #{page.pageSize,jdbcType=INTEGER}
        </if>
    </select>

    <select id="selectByCondition" resultMap="BaseResultMap">
        select
        t.id,t.shop_code,t1.shop_name,t.year,t.seasons_alternate,t.seasons_alternate_day,t.seasons_alternate_coefficient,t.create_user_id,t.updated_user_id
        ,t.gmt_create,t.gmt_updated,t.is_deleted
        from season_change as t
        left join shops as t1 on t.shop_code=t1.shop_code
        where t.is_deleted=0
        <if test="record.id !=null">
            and t.id=#{record.id}
        </if>
        <if test="record.shopCode !=null">
            and t.shop_code=#{record.shopCode}
        </if>
        <if test="record.shopName !=null">
            and t1.shop_name=#{record.shopName}
        </if>
        <if test="record.year !=null">
            and t.year=#{record.year}
        </if>
        <if test="record.seasonsAlternate !=null">
            and t.seasons_alternate=#{record.seasonsAlternate}
        </if>
        <if test="record.seasonsAlternateDay !=null">
            and t.seasons_alternate_day=#{record.seasonsAlternateDay}
        </if>
        <if test="record.seasonsAlternateCoefficient !=null">
            and t.seasons_alternate_coefficient=#{record.seasonsAlternateCoefficient}
        </if>
        <if test="record.createUserCode!=null">
            and t.create_user_id=#{record.createUserCode}
        </if>
        <if test="record.updatedUserCode!=null">
            and t.updated_user_id=#{record.updatedUserCode}
        </if>
        <if test="record.gmtCreate!=null">
            and t.gmt_create=#{record.gmtCreate}
        </if>
        <if test="record.gmtUpdated!=null">
            and t.gmt_updated=#{record.gmtUpdated}
        </if>
        <if test="record.isDeleted!=null">
            and t.is_deleted=#{record.isDeleted}
        </if>
    </select>

    <select id="pageCount" resultType="integer">
        select
        count(*)
        from season_change as t
        left join shops as t1 on t.shop_code=t1.shop_code
        where t.is_deleted=0
        <if test="record.id !=null">
            and t.id=#{record.id}
        </if>
        <if test="record.shopCode !=null">
            and t.shop_code=#{record.shopCode}
        </if>
        <if test="record.shopName !=null">
            and t1.shop_name=#{record.shopName}
        </if>
        <if test="record.year !=null">
            and t.year=#{record.year}
        </if>
        <if test="record.seasonsAlternate !=null">
            and t.seasons_alternate=#{record.seasonsAlternate}
        </if>
        <if test="record.seasonsAlternateDay !=null">
            and t.seasons_alternate_day=#{record.seasonsAlternateDay}
        </if>
        <if test="record.seasonsAlternateCoefficient !=null">
            and t.seasons_alternate_coefficient=#{record.seasonsAlternateCoefficient}
        </if>
        <if test="record.createUserCode!=null">
            and t.create_user_id=#{record.createUserCode}
        </if>
        <if test="record.updatedUserCode!=null">
            and t.updated_user_id=#{record.updatedUserCode}
        </if>
        <if test="record.gmtCreate!=null">
            and t.gmt_create=#{record.gmtCreate}
        </if>
        <if test="record.gmtUpdated!=null">
            and t.gmt_updated=#{record.gmtUpdated}
        </if>
    </select>

    <select id="getByCondition" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from season_change
        <include refid="wherePageList"/>
    </select>
    <update id="update" parameterType="cn.nome.saas.sdc.repository.entity.SeasonChangeDO">
        update season_change
        <set>
            <if test="record.id !=null">
                id=#{record.id},
            </if>
            <if test="record.shopCode !=null">
                shop_code=#{record.shopCode},
            </if>
            <if test="record.year !=null">
                year=#{record.year},
            </if>
            <if test="record.seasonsAlternate !=null">
                seasons_alternate=#{record.seasonsAlternate},
            </if>
            <if test="record.seasonsAlternateDay !=null">
                seasons_alternate_day=#{record.seasonsAlternateDay},
            </if>
            <if test="record.seasonsAlternateCoefficient !=null">
                seasons_alternate_coefficient=#{record.seasonsAlternateCoefficient},
            </if>
            <if test="record.createUserCode!=null">
                create_user_id=#{record.createUserCode},
            </if>
            <if test="record.updatedUserCode!=null">
                updated_user_id=#{record.updatedUserCode},
            </if>
            <if test="record.gmtCreate!=null">
                gmt_create=#{record.gmtCreate},
            </if>
            <if test="record.gmtUpdated!=null">
                gmt_updated=#{record.gmtUpdated},
            </if>
            <if test="record.isDeleted!=null">
                is_deleted=#{record.isDeleted},
            </if>
        </set>
        where id=#{record.id}
    </update>

    <update id="batchUpdate" parameterType="java.util.List">
        <foreach collection="list" index="index" item="record" separator=";">
            update season_change
            <set>
                <if test="record.id !=null">
                    id=#{record.id},
                </if>
                <if test="record.shopCode !=null">
                    shop_code=#{record.shopCode},
                </if>
                <if test="record.year !=null">
                    year=#{record.year},
                </if>
                <if test="record.seasonsAlternate !=null">
                    seasons_alternate=#{record.seasonsAlternate},
                </if>
                <if test="record.seasonsAlternateDay !=null">
                    seasons_alternate_day=#{record.seasonsAlternateDay},
                </if>
                <if test="record.seasonsAlternateCoefficient !=null">
                    seasons_alternate_coefficient=#{record.seasonsAlternateCoefficient},
                </if>
                <if test="record.createUserCode!=null">
                    create_user_id=#{record.createUserCode},
                </if>
                <if test="record.updatedUserCode!=null">
                    updated_user_idd=#{record.updatedUserCode},
                </if>
                <if test="record.gmtCreate!=null">
                    gmt_create=#{record.gmtCreate},
                </if>
                <if test="record.gmtUpdated!=null">
                    gmt_updated=#{record.gmtUpdated},
                </if>
                <if test="record.isDeleted!=null">
                    is_deleted=#{record.isDeleted},
                </if>
            </set>
            where is_deleted=0
            <if test="record.shopCode !=null">
                and shop_code=#{record.shopCode}
            </if>
            <if test="record.year !=null">
                and year=#{record.year}
            </if>
            <if test="record.seasonsAlternate !=null">
                and seasons_alternate=#{record.seasonsAlternate}
            </if>
        </foreach>
    </update>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into season_change(
        shop_code,
        year,
        seasons_alternate,
        seasons_alternate_day,
        seasons_alternate_coefficient) values
        <foreach collection="list" index="index" item="record" separator=",">
               ( #{record.shopCode},
                #{record.year},
                #{record.seasonsAlternate},
                #{record.seasonsAlternateDay},
                #{record.seasonsAlternateCoefficient}
                )
        </foreach>

    </insert>

    <update id="deleted" parameterType="cn.nome.saas.sdc.repository.entity.SeasonChangeDO">
        update season_change
        <set>
            <if test="record.shopCode !=null">
                shop_code=#{record.shopCode},
            </if>
            <if test="record.year !=null">
                year=#{record.year},
            </if>
            <if test="record.seasonsAlternate !=null">
                seasons_alternate=#{record.seasonsAlternate},
            </if>
            <if test="record.seasonsAlternateDay !=null">
                seasons_alternate_day=#{record.seasonsAlternateDay},
            </if>
            <if test="record.seasonsAlternateCoefficient !=null">
                seasons_alternate_coefficient=#{record.seasonsAlternateCoefficient},
            </if>
            <if test="record.createUserCode!=null">
                create_user_id=#{record.createUserCode},
            </if>
            <if test="record.updatedUserCode!=null">
                updated_user_id=#{record.updatedUserCode},
            </if>
            <if test="record.gmtCreate!=null">
                gmt_create=#{record.gmtCreate},
            </if>
            <if test="record.gmtUpdated!=null">
                gmt_updated=#{record.gmtUpdated},
            </if>
            <if test="record.isDeleted!=null">
                is_deleted=#{record.isDeleted},
            </if>
        </set>
        where
        <if test="record.id !=null">
            id=#{record.id}
        </if>
    </update>
</mapper>