<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.nome.saas.sdc.repository.dao.ShopWechatMapper">
    <resultMap type="cn.nome.saas.sdc.repository.entity.ShopWechatDO" id="BaseResultMap">
        <id property="id" column="id"/>
        <result property="shopId" column="shop_id"/>
        <result property="shopCode" column="shop_code"/>
        <result property="jobNumber" column="job_number"/>
        <result property="configId" column="config_id"/>
        <result property="qrCode" column="qr_code"/>
    </resultMap>
    <sql id="Base_Column_List">
		id, shop_id, shop_code, job_number, config_id, qr_code
	</sql>
    <sql id="wherePageList">
        <where>
            <if test="req.id != null">
                and id = #{req.id}
            </if>
            <if test="req.shopId != null">
                and shop_id = #{req.shopId}
            </if>
            <if test="req.shopCode != null">
                and shop_code = #{req.shopCode}
            </if>
        </where>
    </sql>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
            parameterType="cn.nome.saas.sdc.repository.entity.ShopWechatDO">
        insert into shop_wechat
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="shopCode != null">
                shop_code,
            </if>
            <if test="configId != null">
                config_id,
            </if>
            <if test="qrCode != null">
                qr_code,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="updatedAt != null">
                updated_at,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="lastUpdateUserId != null">
                last_update_user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="shopId != null">
                #{shopId},
            </if>
            <if test="shopCode != null">
                #{shopCode},
            </if>
            <if test="configId != null">
                #{configId},
            </if>
            <if test="qrCode != null">
                #{qrCode},
            </if>
            <if test="createdAt != null">
                #{createdAt},
            </if>
            <if test="updatedAt != null">
                #{updatedAt},
            </if>
            <if test="createUserId != null">
                #{createUserId},
            </if>
            <if test="lastUpdateUserId != null">
                #{lastUpdateUserId},
            </if>
        </trim>
    </insert>

    <select id="pageCount" resultType="Integer">
        select count(*)
        from shop_wechat
        <include refid="wherePageList"/>
    </select>

    <select id="search" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from shop_wechat
        <include refid="wherePageList"/>
        <if test="page != null">
            limit #{page.offset,jdbcType=INTEGER}, #{page.pageSize,jdbcType=INTEGER}
        </if>
    </select>

    <select id="query" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from shop_wechat where shop_id=#{req.shopId} order by id desc limit 1
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="cn.nome.saas.sdc.repository.entity.ShopWechatDO">
        update shop_wechat
        <set>
            <if test="shopId != null">
                shop_id = #{shopId},
            </if>
            <if test="shopCode != null">
                shop_code = #{shopCode},
            </if>
            <if test="configId != null">
                config_id = #{configId},
            </if>
            <if test="qrCode != null">
                qr_code = #{qrCode},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>