<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.nome.saas.sdc.repository.dao.WareHouseConfigMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="cn.nome.saas.sdc.repository.entity.WarehouseDO" id="BaseResultMap">
        <id property="id" column="id"/>
        <result property="province" column="province"/>
        <result property="provinceCode" column="province_code"/>
        <result property="warehouse" column="warehouse"/>
        <result property="warehouseCode" column="warehouse_code"/>
        <result property="createUserCode" column="create_user_id"/>
        <result property="updatedUserCode" column="updated_user_id"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtUpdated" column="gmt_updated"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
      id,province,province_code,warehouse,warehouse_code,create_user_id,updated_user_id,gmt_create,gmt_updated,is_deleted
    </sql>
    <sql id="wherePageList">
        <where>1=1 and is_deleted=0
            <if test="record.id !=null">
                and id=#{record.id}
            </if>
            <if test="record.province !=null">
                and province=#{record.province}
            </if>
             <if test="record.provinceCode !=null">
                and province_code=#{record.provinceCode}
            </if>
            <if test="record.warehouse !=null">
                and warehouse=#{record.warehouse}
            </if>
            <if test="record.warehouseCode !=null">
                and warehouse_code=#{record.warehouseCode}
            </if>
            <if test="record.createUserCode!=null">
                and create_user_id=#{record.createUserCode}
            </if>
            <if test="record.updatedUserCode!=null">
                and updated_user_id=#{record.updatedUserCode}
            </if>
            <if test="record.gmtCreate!=null">
                and gmt_create=#{record.gmtCreate}
            </if>
            <if test="record.gmtUpdated!=null">
                and gmt_updateed=#{record.gmtUpdated}
            </if>
            <if test="record.isDeleted!=null">
                and is_deleted=#{record.isDeleted}
            </if>
        </where>
    </sql>
    <select id="getPageList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from warehouse_config
        <include refid="wherePageList"/>
        <if test="page!=null">
            limit #{page.offset,jdbcType=INTEGER}, #{page.pageSize,jdbcType=INTEGER}
        </if>
    </select>

    <select id="pageCount" resultType="integer">
        select
        count(*)
        from warehouse_config
        <include refid="wherePageList"/>
    </select>

    <select id="getByProvinceAndWareHouse" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from warehouse_config
        <include refid="wherePageList"/>
    </select>
    <update id="update" parameterType="cn.nome.saas.sdc.repository.entity.WarehouseDO">
        update warehouse_config
        <set>
            <if test="record.id !=null">
                id=#{record.id},
            </if>
            <if test="record.province !=null">
                province=#{record.province},
            </if>
             <if test="record.provinceCode !=null">
                province_code=#{record.provinceCode},
            </if>
            <if test="record.warehouse !=null">
                warehouse=#{record.warehouse},
            </if>
            <if test="record.warehouseCode !=null">
                warehouse_code=#{record.warehouseCode},
            </if>
            <if test="record.createUserCode!=null">
                create_user_id=#{record.createUserCode},
            </if>
            <if test="record.updatedUserCode!=null">
                updated_user_id=#{record.updatedUserCode},
            </if>
            <if test="record.gmtCreate!=null">
                gmt_create=#{record.gmtCreate},
            </if>
            <if test="record.gmtUpdated!=null">
                gmt_updateed=#{record.gmtUpdated},
            </if>
            <if test="record.isDeleted!=null">
                is_deleted=#{record.isDeleted},
            </if>
        </set>
        <include refid="wherePageList"/>
    </update>

    <update id="updateWareHouse" parameterType="cn.nome.saas.sdc.repository.entity.WarehouseDO">
        update warehouse_config
        <set>
            <if test="record.id !=null">
                id=#{record.id},
            </if>
            <if test="record.province !=null">
                province=#{record.province},
            </if>
            <if test="record.provinceCode !=null">
                province_code=#{record.provinceCode},
            </if>
            <if test="record.warehouse !=null">
                warehouse=#{record.warehouse},
            </if>
            <if test="record.warehouseCode !=null">
                warehouse_code=#{record.warehouseCode},
            </if>
            <if test="record.createUserCode!=null">
                create_user_id=#{record.createUserCode},
            </if>
            <if test="record.updatedUserCode!=null">
                updated_user_id=#{record.updatedUserCode},
            </if>
            <if test="record.gmtCreate!=null">
                gmt_create=#{record.gmtCreate},
            </if>
            <if test="record.gmtUpdated!=null">
                gmt_updateed=#{record.gmtUpdated},
            </if>
            <if test="record.isDeleted!=null">
                is_deleted=#{record.isDeleted},
            </if>
        </set>
        where 1=1
        <if test="record.province!=null">
            and province=#{record.province}
        </if>
    </update>

    <update id="delete" parameterType="cn.nome.saas.sdc.repository.entity.WarehouseDO">
        update warehouse_config
        <set>
            <if test="record.id !=null">
                id=#{record.id},
            </if>
            <if test="record.province !=null">
                province=#{record.province},
            </if>
            <if test="record.provinceCode !=null">
                province_code=#{record.provinceCode},
            </if>
            <if test="record.warehouse !=null">
                warehouse=#{record.warehouse},
            </if>
            <if test="record.warehouseCode !=null">
                warehouse_code=#{record.warehouseCode},
            </if>
            <if test="record.createUserCode!=null">
                create_user_id=#{record.createUserCode},
            </if>
            <if test="record.updatedUserCode!=null">
                updated_user_id=#{record.updatedUserCode},
            </if>
            <if test="record.gmtCreate!=null">
                gmt_create=#{record.gmtCreate},
            </if>
            <if test="record.gmtUpdated!=null">
                gmt_updateed=#{record.gmtUpdated},
            </if>
            <if test="record.isDeleted!=null">
                is_deleted=#{record.isDeleted},
            </if>
        </set>
        where is_deleted=0
        <if test="record.id !=null">
            and id=#{record.id}
        </if>
    </update>
    <insert id="insert" parameterType="cn.nome.saas.sdc.repository.entity.WarehouseDO">
        insert into warehouse_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="record.id !=null">
                id,
            </if>
            <if test="record.province !=null">
                province,
            </if>
            <if test="record.provinceCode !=null">
                province_code,
            </if>
            <if test="record.warehouse !=null">
                warehouse,
            </if>
            <if test="record.warehouseCode !=null">
                warehouse_code,
            </if>
            <if test="record.createUserCode!=null">
                create_user_id,
            </if>
            <if test="record.updatedUserCode!=null">
                updated_user_id,
            </if>
            <if test="record.gmtCreate!=null">
                gmt_create,
            </if>
            <if test="record.gmtUpdated!=null">
                gmt_updateed,
            </if>
            <if test="record.isDeleted!=null">
                is_deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="record.id !=null">
                #{record.id},
            </if>
            <if test="record.province !=null">
                #{record.province},
            </if>
            <if test="record.provinceCode !=null">
                #{record.provinceCode},
            </if>
            <if test="record.warehouse !=null">
                #{record.warehouse},
            </if>
            <if test="record.warehouseCode !=null">
                #{record.warehouseCode},
            </if>
            <if test="record.createUserCode!=null">
                #{record.createUserCode},
            </if>
            <if test="record.updatedUserCode!=null">
                #{record.updatedUserCode},
            </if>
            <if test="record.gmtCreate!=null">
                #{record.gmtCreate},
            </if>
            <if test="record.gmtUpdated!=null">
                #{record.gmtUpdated},
            </if>
            <if test="record.isDeleted!=null">
                #{record.isDeleted},
            </if>
        </trim>
    </insert>
</mapper>