<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.nome.saas.allocation.repository.dao.portal.UserMapper" >

  <resultMap id="Application" type="cn.nome.saas.allocation.repository.entity.portal.ApplicationDO" >
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="icon_path" property="iconPath" jdbcType="VARCHAR" />
    <result column="apply_link" property="applyLink" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="LocalUser" type="cn.nome.saas.allocation.model.protal.LocalUser" >
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="role" property="role" jdbcType="INTEGER" />
  </resultMap>

  <select id="getUser" parameterType="String" resultMap="LocalUser">
    	select user_id,user_name,role from user where user_id = #{user_id,jdbcType=VARCHAR}
  </select>
  <select id="getUserList" resultMap="LocalUser">
    	select user_id,user_name,role from user
  </select>
  
  <insert id="insertUser">
      insert into user(user_id,user_name,role) values (#{user_id},#{user_name},0)
  </insert>
  
  <select id="getApplicationList" resultMap="Application">
    	select id,code,name,url,icon_path,apply_link,introduction from application
  </select>
  <select id="getUserApplicationIdList" parameterType="String" resultType="java.lang.Integer">
    	select application_id from user_application where user_id = #{user_id,jdbcType=VARCHAR}
  </select>
  <select id="DeleteUserApplicationIdList" parameterType="String" resultType="java.lang.Integer">
    	delete from user_application where user_id = #{user_id,jdbcType=VARCHAR}
  </select>

  <select id="getAllocationOperatorList" resultMap="LocalUser">
    select u.user_id,u.user_name
    from user u ,application a,user_application ua
    where a.code = 'allocation' and a.id = ua.application_id and u.user_id = ua.user_id
    and u.role = 0
  </select>


  <insert id="setUserApplicationId">
    	insert into user_application(user_id, application_id) values(#{user_id,jdbcType=VARCHAR}, #{application_id,jdbcType=INTEGER})
  </insert>

  <insert id="insertUserData" parameterType="cn.nome.saas.allocation.model.protal.LocalUser">
    insert into user(user_id,user_name,role) values (#{userId},#{userName},#{role})
  </insert>

  <insert id="insertUserApplicationDate" parameterType="cn.nome.saas.allocation.model.protal.UserApplication">
    insert into user_application(id,user_id, application_id,created_at) values(#{id},#{userId,jdbcType=VARCHAR}, #{applicationId,jdbcType=INTEGER},now())
  </insert>

  <select id="clearUserApplication" resultType="java.lang.Integer">
    delete from user_application
  </select>

  <select id="clearUser" resultType="java.lang.Integer">
    delete from user
  </select>

</mapper>