<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.nome.saas.allocation.repository.old.allocation.dao.ForbiddenSingleItemDOMapper2" >

    <resultMap id="ForbiddenRuleSingle" type="cn.nome.saas.allocation.model.old.forbiddenRule.ForbiddenSingleItem" >
        <id property="id" column="id"/>
        <result column="rule_name" property="ruleName"  />
        <result column="rule_id" property="ruleId"  />
        <result column="shop_id" property="shopId"  />
        <result column="shop_code" property="shopCode"/>
        <result column="shop_name" property="shopName"  />
        <result column="type" property="type" />
        <result column="type_value" property="typeValue"  />
        <result column="type_name" property="typeName"  />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate"  />
        <result column="remark" property="remark"  />
        <result column="modified_by" property="modifiedBy"  />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="updated_by" property="updatedBy"/>
    </resultMap>

    <select id="countByParam" resultType="java.lang.Integer">
        select count(id)
        from forbidden_single_rule
        where 1=1
        and rule_id = #{ruleId}
        <if test="shopIdList != null">
            and shop_id in (
            <foreach collection="shopIdList" item="shopId" index="index" separator=",">
                #{shopId}
            </foreach>
            )
        </if>
        <if test="type != null">
            and type = #{type}
        </if>
        <if test="typeValue != null">
            and type_value = #{typeValue}
        </if>
        <if test="modifiedBy != null" >
            and modified_by = #{modifiedBy}
        </if>
        <if test="queryName != null" >
            and (
            shop_name like concat('%', #{queryName}, '%')
            or type_value like concat('%', #{queryName}, '%')
            or shop_id like concat('%', #{queryName}, '%')
            or shop_code like concat('%', #{queryName}, '%')
            )
        </if>
    </select>

    <select id="selectModifiedByList" resultType="java.lang.String">
        select distinct modified_by
        from forbidden_single_rule
    </select>

    <select id="selectBySelective" resultMap="ForbiddenRuleSingle" >
        select id,rule_name,rule_id,shop_id,shop_code,shop_name,type,type_value,type_name,start_date,end_date,remark,modified_by
        from forbidden_single_rule
        where 1=1
        and rule_id = #{ruleId}
        <if test="shopIdList != null">
          and shop_id in (
            <foreach collection="shopIdList" item="shopId" index="index" separator=",">
                #{shopId}
            </foreach>
            )
        </if>
        <if test="type != null">
            and type = #{type}
        </if>
        <if test="typeValue != null">
            and type_value = #{typeValue}
        </if>
        <if test="modifiedBy != null">
            and modified_by = #{modifiedBy}
        </if>
        <if test="queryName != null" >
            and (
            shop_name like concat('%', #{queryName}, '%')
            or type_value like concat('%', #{queryName}, '%')
            or shop_id like concat('%', #{queryName}, '%')
            or shop_code like concat('%', #{queryName}, '%')
            )
        </if>
        <if test="shopCodeFlag != null">
            and shop_code is null
        </if>
        order by id asc
        limit #{offset,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}

    </select>

    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.Map" >
        insert into forbidden_single_rule
        (rule_name,
         rule_id,
        shop_id,
        shop_code,
        shop_name,
        type,
        type_value,
        start_date,
        end_date,
        remark,
        modified_by,
        created_at,
        created_by,
        updated_at,
        updated_by)

        values
        <foreach collection="singleList" item="item" index="index" separator=",">
            (#{item.ruleName},#{item.ruleId}, #{item.shopId}, #{item.shopCode}, #{item.shopName}, #{item.type},#{item.typeValue},#{item.startDate},#{item.endDate},
            #{item.remark}, #{item.modifiedBy},#{item.createdAt},#{item.createdBy},#{item.updatedAt},#{item.updatedBy})
        </foreach>


    </insert>

    <insert id="insertSelective"  useGeneratedKeys="true" keyProperty="id"  parameterType="cn.nome.saas.allocation.model.old.forbiddenRule.ForbiddenSingleItem" >
        insert into forbidden_single_rule
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="ruleName != null" >
                rule_name,
            </if>
            <if test="ruleId != null" >
                rule_id,
            </if>
            <if test="shopId != null" >
                shop_id,
            </if>
            <if test="shopCode != null" >
                shop_code,
            </if>
            <if test="shopName != null" >
                shop_name,
            </if>
            <if test="type != null" >
                type,
            </if>
            <if test="typeValue != null" >
                type_value,
            </if>
            <if test="typeName != null" >
                type_name,
            </if>
            <if test="startDate != null" >
                start_date,
            </if>
            <if test="endDate != null" >
                end_date,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            <if test="modifiedBy != null" >
                modified_by,
            </if>
            <if test="createdAt != null" >
                created_at,
            </if>
            <if test="createdBy != null" >
                created_by,
            </if>
            <if test="updatedAt != null" >
                updated_at,
            </if>
            <if test="updatedBy != null" >
                updated_by
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id},
            </if>
            <if test="ruleName != null" >
                #{ruleName},
            </if>
            <if test="ruleId != null" >
                #{ruleId},
            </if>
            <if test="shopId != null" >
                #{shopId},
            </if>
            <if test="shopCode != null" >
                #{shopCode},
            </if>
            <if test="shopName != null" >
                #{shopName},
            </if>
            <if test="type != null" >
                #{type},
            </if>
            <if test="typeValue != null" >
                #{typeValue},
            </if>
            <if test="typeName != null" >
                #{typeName},
            </if>
            <if test="startDate != null" >
                #{startDate},
            </if>
            <if test="endDate != null" >
                #{endDate},
            </if>
            <if test="remark != null" >
                #{remark},
            </if>
            <if test="modifiedBy != null" >
                #{modifiedBy},
            </if>
            <if test="createdAt != null" >
                #{createdAt},
            </if>
            <if test="createdBy != null" >
                #{createdBy},
            </if>
            <if test="updatedAt != null" >
                #{updatedAt},
            </if>
            <if test="updatedBy != null" >
                #{updatedBy},
            </if>
        </trim>
    </insert>

    <delete id="deleteByRuleName" parameterType="java.lang.String" >
        delete from forbidden_single_rule where rule_name = #{ruleName}
    </delete>

    <delete id="deleteByRuleId" parameterType="java.lang.Integer" >
        delete from forbidden_single_rule where rule_id = #{ruleId}
    </delete>

    <update id="updateShopCode" parameterType="cn.nome.saas.allocation.model.old.forbiddenRule.ForbiddenSingleItem">
        update forbidden_single_rule
        <set>
            <if test="shopCode != null" >
                shop_code = #{shopCode},
            </if>
        </set>
        where id = #{id}

    </update>

</mapper>