<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.nome.saas.allocation.repository.old.allocation.dao.SecuritySingleItemDOMapper2" >

    <resultMap id="SecurityRuleSingle" type="cn.nome.saas.allocation.repository.old.allocation.entity.SecuritySingleItemDO" >
        <id property="id" column="id"/>
        <result column="rule_name" property="ruleName"  />
        <result column="rule_id" property="ruleId"  />
        <result column="shop_id" property="shopId"  />
        <result column="shop_code" property="shopCode"/>
        <result column="shop_name" property="shopName"  />
        <result column="type" property="type" />
        <result column="type_value" property="typeValue"  />
        <result column="type_name" property="typeName"  />
        <result column="num" property="num"  />
        <result column="start_date" property="startDate" />
        <result column="end_date" property="endDate"  />
        <result column="remark" property="remark"  />
        <result column="modified_by" property="modifiedBy"  />
        <result column="created_at" property="createdAt" />
        <result column="created_by" property="createdBy"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="updated_by" property="updatedBy"/>
    </resultMap>


    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.Map" >
        insert into security_single_rule
        (rule_name,
         rule_id,
        shop_id,
        shop_code,
        shop_name,
        type,
        type_value,
        num,
        start_date,
        end_date,
        remark,
        modified_by,
        created_at,
        created_by,
        updated_at,
        updated_by)

        values
        <foreach collection="singleList" item="item" index="index" separator=",">
            (#{item.ruleName},#{item.ruleId}, #{item.shopId}, #{item.shopCode}, #{item.shopName}, #{item.type},#{item.typeValue},#{item.num},#{item.startDate},#{item.endDate},
            #{item.remark}, #{item.modifiedBy},#{item.createdAt},#{item.createdBy},#{item.updatedAt},#{item.updatedBy})
        </foreach>


    </insert>

    <delete id="deleteByRuleName" parameterType="java.lang.String" >
        delete from security_single_rule where rule_name = #{ruleName}
    </delete>
    <delete id="deleteByRuleId" parameterType="java.lang.Integer" >
        delete from security_single_rule where rule_id = #{ruleId}
    </delete>


</mapper>